/* top menu */
/* line 10, ../sass/elements.scss */
.header-menu li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 40px 0 0;
  font-size: 11pt;
}
/* line 14, ../sass/elements.scss */
.header-menu li a {
  color: black;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.header-menu li a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.header-menu li a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.header-menu li a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.header-menu li a:active {
  color: #fc5f5f;
}

/* cart bar */
/* line 21, ../sass/elements.scss */
.cartbar {
  margin: 12px 0 0;
}

/* line 26, ../sass/elements.scss */
.cartbar__content {
  line-height: 1.1;
  margin: 0 0 0 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 10pt;
  font-style: italic;
  color: #3d3d3d;
  text-align: center;
}
/* line 37, ../sass/elements.scss */
.cartbar__content p {
  margin: 0px 0;
}
/* line 40, ../sass/elements.scss */
.cartbar__content a {
  color: #3d3d3d;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cartbar__content a:visited {
  color: #3d3d3d;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cartbar__content a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cartbar__content a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cartbar__content a:active {
  color: #fc5f5f;
}

/* line 44, ../sass/elements.scss */
.cartbar__icon {
  margin: 0 0 0 16px;
  display: block;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* home info blocks */
/* line 53, ../sass/elements.scss */
.info-blocks .b-info-block {
  display: inline;
  float: left;
}
/* line 56, ../sass/elements.scss */
.info-blocks .a-first {
  background-position: 0 0;
}
/* line 58, ../sass/elements.scss */
.info-blocks .a-first:hover {
  background-position: -143px 0;
}
/* line 62, ../sass/elements.scss */
.info-blocks .a-second {
  background-position: 0 -131px;
}
/* line 64, ../sass/elements.scss */
.info-blocks .a-second:hover {
  background-position: -143px -131px;
}
/* line 68, ../sass/elements.scss */
.info-blocks .a-third {
  background-position: 0 -262px;
}
/* line 70, ../sass/elements.scss */
.info-blocks .a-third:hover {
  background-position: -143px -262px;
}
/* line 74, ../sass/elements.scss */
.info-blocks .info-blocks__delimeter {
  display: inline;
  float: left;
  width: 32px;
  height: 130px;
  background: 0 55px no-repeat url(../../images/home-blocks-delimeter.png);
}

/* line 81, ../sass/elements.scss */
.b-info-block {
  display: block;
  position: relative;
  width: 142px;
  height: 130px;
  background: 0 0 no-repeat url(../../images/home-blocks.jpg);
}
/* line 87, ../sass/elements.scss */
.b-info-block:hover {
  background-position: -143px 0;
}
/* line 90, ../sass/elements.scss */
.b-info-block i {
  position: absolute;
  top: 94px;
  text-align: center;
  width: 100%;
  color: #fff;
}

/* home search */
/* line 100, ../sass/elements.scss */
.home__search {
  margin: 21px 0 0;
}

/* search form */
/* line 106, ../sass/elements.scss */
.search_form input {
  font-size: 10pt;
  border: 1px solid #0778ab;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-box-shadow: #a4a4a4 0px 1px 1px;
  -moz-box-shadow: #a4a4a4 0px 1px 1px;
  box-shadow: #a4a4a4 0px 1px 1px;
  padding: 2px 0 2px 3px;
  outline: none;
}
/* line 115, ../sass/elements.scss */
.search_form button {
  background-color: #379bd9;
  border: 1px solid #0778ab;
  color: #fff;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: #a4a4a4 0px 1px 1px;
  -moz-box-shadow: #a4a4a4 0px 1px 1px;
  box-shadow: #a4a4a4 0px 1px 1px;
  margin: 0 0 0 3px;
  padding: 2px 3px;
  font-size: 10pt;
}

/* home seo text */
/* line 128, ../sass/elements.scss */
.home__seotext {
  margin: 18px 0 0;
}

/* gallery */
/* line 7, ../sass/_slider.scss */
.b-images {
  padding: 0px 90px 0px 90px;
  position: relative;
}
/* line 11, ../sass/_slider.scss */
.b-images .b-images__scrollable {
  position: relative;
  overflow: hidden;
}
/* line 16, ../sass/_slider.scss */
.b-images .b-images__scrollable .b-images__pages {
  width: 20000em;
  position: relative;
}
/* line 21, ../sass/_slider.scss */
.b-images .b-images__scrollable .b-images__pages ul {
  float: left;
  width: 1000px;
}
/* line 25, ../sass/_slider.scss */
.b-images .b-images__scrollable .b-images__pages ul .b-images__item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 190px;
  height: 442px;
  overflow: hidden;
  margin: 2px;
  text-align: center;
  line-height: 442px;
}
/* line 34, ../sass/_slider.scss */
.b-images .b-images__scrollable .b-images__pages ul .b-images__item a img {
  vertical-align: middle;
}
/* line 42, ../sass/_slider.scss */
.b-images .eg_previous_link, .b-images .eg_next_link {
  position: absolute;
  top: 50%;
  display: block;
  width: 46px;
  background: url(../../images/arrows.png);
  margin-top: -56px;
  height: 0;
  padding-top: 156px;
  font-size: 0;
  text-indent: -6000px;
}
/* line 51, ../sass/_slider.scss */
.b-images .eg_previous_link {
  left: 0;
  background-position: 0px 0;
}
/* line 54, ../sass/_slider.scss */
.b-images .eg_previous_link:hover {
  background-position: -46px 0;
}
/* line 57, ../sass/_slider.scss */
.b-images .eg_previous_link:active {
  background-position: -92px 0;
}
/* line 60, ../sass/_slider.scss */
.b-images .eg_previous_link.disabled {
  background-position: -138px 0;
  cursor: default;
}
/* line 65, ../sass/_slider.scss */
.b-images .eg_next_link {
  right: 0;
  background-position: -184px 0;
}
/* line 68, ../sass/_slider.scss */
.b-images .eg_next_link:hover {
  background-position: -230px 0;
}
/* line 71, ../sass/_slider.scss */
.b-images .eg_next_link:active {
  background-position: -276px 0;
}
/* line 74, ../sass/_slider.scss */
.b-images .eg_next_link.disabled {
  background-position: -322px 0;
  cursor: default;
}
/* line 79, ../sass/_slider.scss */
.b-images .eg_next_off, .b-images .eg_previous_off {
  display: none;
}

/* home popular */
/* line 135, ../sass/elements.scss */
.home__popular {
  margin: 12px 0 0;
}

/* line 138, ../sass/elements.scss */
.home__popular__content {
  margin: 10px 0 0;
  padding: 0 11px;
  overflow: hidden;
  *zoom: 1;
}
/* line 142, ../sass/elements.scss */
.home__popular__content .product-item {
  margin-right: 10px;
}
/* line 144, ../sass/elements.scss */
.home__popular__content .product-item:last-child {
  margin-right: 0px;
}

/* new products */
/* line 151, ../sass/elements.scss */
.home__new {
  margin: 12px 0 0;
}

/* line 154, ../sass/elements.scss */
.home__new__content {
  margin: 10px 0 0;
  padding: 0 11px;
  overflow: hidden;
  *zoom: 1;
  /*.b-images__scrollable{
      height:240px * 1 + 4px * 1;
  }*/
}
/* line 161, ../sass/elements.scss */
.home__new__content .product-item {
  margin-right: 10px;
}
/* line 163, ../sass/elements.scss */
.home__new__content .product-item:last-child {
  margin-right: 0px;
}
/* line 167, ../sass/elements.scss */
.home__new__content .eg_previous_link, .home__new__content .eg_next_link {
  top: 40%;
}

/* product item */
/* line 173, ../sass/elements.scss */
.product-item {
  line-height: 1;
  display: inline;
  float: left;
  width: 164px;
  text-align: center;
  border: 1px solid transparent;
  padding: 8px 12px 15px 12px;
}
/* line 180, ../sass/elements.scss */
.product-item:hover {
  border: 1px solid #b2b0b0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 187, ../sass/elements.scss */
.product-item__img img {
  width: 130px;
  height: 230px;
}

/* line 192, ../sass/elements.scss */
.product-item__middle {
  height: 140px;
  overflow: hidden;
}

/* line 196, ../sass/elements.scss */
.product-item__title {
  font-size: 10pt;
  margin: 7px 0 0;
  line-height: 1.15;
}

/* line 201, ../sass/elements.scss */
.product-item__description {
  margin: 10px 0 0;
  line-height: 1.15;
}
/* line 204, ../sass/elements.scss */
.product-item__description p {
  margin: 0px 0;
}

/* line 208, ../sass/elements.scss */
.product-item__buy {
  margin: 19px 0 0;
}

/* line 211, ../sass/elements.scss */
.product-item_short {
  width: 178px;
  padding: 8px 5px 15px 5px;
}
/* line 216, ../sass/elements.scss */
.product-item_short .product-item__img img {
  width: 175px;
  height: 180px;
}

/* footer icons */
/* line 224, ../sass/elements.scss */
.footer-icon {
  height: 21px;
  line-height: 21px;
  padding: 0 0 0 31px;
  margin: 0 0 10px 0;
  color: #5fbde7;
  background: 0 -86px no-repeat url(../../images/footer-icons.png);
}

/* line 232, ../sass/elements.scss */
.footer-icon_delivery {
  background-position: 0 -65px;
}

/* line 235, ../sass/elements.scss */
.footer-icon_how-buy {
  background-position: 0 -44px;
}

/* line 238, ../sass/elements.scss */
.footer-icon_actions {
  background-position: 0 0;
}

/* line 241, ../sass/elements.scss */
.footer-icon_all-news {
  background-position: 0 -23px;
}

/* content */
/* line 249, ../sass/elements.scss */
.content__header {
  font-size: 36pt;
  color: #4bb2e1;
  margin-bottom: 18px;
  line-height: 1.1;
  padding: 4px 0;
}

/* line 256, ../sass/elements.scss */
.content__header_product {
  font-size: 24pt;
  color: #000;
  margin-bottom: 0;
}

/* icon item */
/* line 264, ../sass/elements.scss */
.icon-item {
  height: 31px;
  line-height: 31px;
  padding: 0 0 0 36px;
  margin: 0 0 5px 0;
  color: #5fbde7;
  background: 0 0 no-repeat url(../../images/icon-items.png);
}

/* line 272, ../sass/elements.scss */
.icon-item_new {
  background-position: 0 0;
}

/* line 275, ../sass/elements.scss */
.icon-item_best {
  background-position: 0 -31px;
}

/* catalog left menu */
/* line 280, ../sass/elements.scss */
.box {
  margin: 20px 0 0 0;
}
/* line 282, ../sass/elements.scss */
.box .box-heading {
  font-size: 12pt;
  color: #0778ab;
}
/* line 286, ../sass/elements.scss */
.box .box-category {
  margin: 0 0 0 24px;
}
/* line 288, ../sass/elements.scss */
.box .box-category ul > li ul {
  display: none;
}
/* line 291, ../sass/elements.scss */
.box .box-category ul > li a.active + ul {
  display: block;
}
/* line 294, ../sass/elements.scss */
.box .box-category ul > li > ul {
  margin: 0 0 15px 14px;
}
/* line 297, ../sass/elements.scss */
.box .box-category li {
  margin: 8px 0 0 0;
}
/* line 300, ../sass/elements.scss */
.box .box-category a {
  color: black;
  font-size: 10pt;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.box .box-category a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.box .box-category a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.box .box-category a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.box .box-category a:active {
  color: #fc5f5f;
}
/* line 303, ../sass/elements.scss */
.box .box-category a.active {
  color: #4bb2e1;
  text-decoration: none;
  font-weight: bold;
}
/* line 308, ../sass/elements.scss */
.box .box-category a.subactive {
  color: #800080;
  font-weight: normal;
  text-decoration: underline;
}

/* category item */
/* line 318, ../sass/elements.scss */
.category-item {
  display: inline;
  float: left;
  text-align: center;
  width: 190px;
}
/* line 326, ../sass/elements.scss */
.category-item .product-item {
  float: none;
  display: block;
  margin: 0 !important;
  margin-top: 12px !important;
}

/* line 333, ../sass/elements.scss */
.category-item__title {
  background: #0678ac;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 8px 18px;
  text-align: center;
  margin: 0 auto;
}
/* line 342, ../sass/elements.scss */
.category-item__title a {
  color: white;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.category-item__title a:visited {
  color: white;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.category-item__title a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.category-item__title a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.category-item__title a:active {
  color: #fc5f5f;
}

/* line 346, ../sass/elements.scss */
.category-item__img {
  width: 15px;
  height: 25px;
  background: url(../../images/category-item-img.png);
  margin: 0 auto;
  margin-top: 3px;
}

/* line 354, ../sass/elements.scss */
.subheader {
  font-size: 18pt;
  color: #000;
  margin: 35px 0 15px 0;
}

/* line 360, ../sass/elements.scss */
.subsubheader {
  font-size: 14pt;
  color: #000;
  margin: 50px 0 15px 0;
}

/* product page */
/* line 370, ../sass/elements.scss */
.content_product__sku {
  font-size: 10pt;
}

/* line 374, ../sass/elements.scss */
.product-content {
  margin: 18px 0 0;
}
/* line 376, ../sass/elements.scss */
.product-content .product-tabs {
  text-align: right;
}
/* line 378, ../sass/elements.scss */
.product-content .product-tabs a {
  text-align: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 10pt;
  color: black;
  text-decoration: none;
  padding: 6px;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .product-tabs a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .product-tabs a:focus {
  color: black;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .product-tabs a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .product-tabs a:active {
  color: #fc5f5f;
}
/* line 385, ../sass/elements.scss */
.product-content .product-tabs a.selected {
  background-color: #4bb2e1;
  border: none;
}
/* line 388, ../sass/elements.scss */
.product-content .product-tabs a.selected span {
  border: none;
}
/* line 392, ../sass/elements.scss */
.product-content .product-tabs a span {
  border-bottom: 1px dashed #000;
}
/* line 401, ../sass/elements.scss */
.product-content .compare-products {
  display: inline;
  float: left;
  margin: 3px 0 0 0;
}
/* line 405, ../sass/elements.scss */
.product-content .compare-products a {
  font-style: italic;
  color: black;
  font-size: 10pt;
  margin: 0 15px 0 0;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .compare-products a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .compare-products a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .compare-products a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .compare-products a:active {
  color: #fc5f5f;
}
/* line 411, ../sass/elements.scss */
.product-content .compare-products .no-active, .product-content .compare-products a.no-active {
  color: #9c9c9c;
  text-decoration: none;
  cursor: default;
}

/* line 418, ../sass/elements.scss */
.product-content__center {
  overflow: hidden;
  *zoom: 1;
  margin: 50px 0 0 0;
}

/* line 422, ../sass/elements.scss */
.product-content__center__left {
  display: inline;
  float: left;
  width: 210px;
  text-align: center;
}

/* line 429, ../sass/elements.scss */
.product-content__center__right {
  display: inline;
  float: right;
  width: 420px;
}

/* line 434, ../sass/elements.scss */
.product-content__img {
  display: block;
  position: relative;
}
/* line 437, ../sass/elements.scss */
.product-content__img img {
  width: 120px;
  height: 230px;
}
/* line 441, ../sass/elements.scss */
.product-content__img .product-content__img__zoom {
  background: 0 0 no-repeat url(../../images/zoom-icon.png);
  width: 38px;
  height: 38px;
  position: absolute;
  bottom: 15px;
  right: 40px;
}
/* line 451, ../sass/elements.scss */
.product-content__img:hover .product-content__img__zoom {
  background: -38px 0 no-repeat url(../../images/zoom-icon.png);
  width: 43px;
  height: 43px;
  right: 35px;
  bottom: 10px;
}

/* line 466, ../sass/elements.scss */
.specs__table td {
  text-align: left;
  padding: 10px 35px 10px 0;
}
/* line 469, ../sass/elements.scss */
.specs__table td:last-child {
  padding-right: 0;
}

/* short product list */
/* line 479, ../sass/elements.scss */
.short-product-list__item {
  width: 180px;
  padding: 3px 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  overflow: hidden;
  *zoom: 1;
  margin: 0 35px 10px 0;
}

/* line 486, ../sass/elements.scss */
.short-product-list__item__img {
  display: inline;
  float: left;
  margin: 0 20px 0 0;
}
/* line 489, ../sass/elements.scss */
.short-product-list__item__img img {
  width: 59px;
  height: 100px;
}

/* line 494, ../sass/elements.scss */
.short-product-list__title {
  margin: 5px 0 0 0;
}
/* line 496, ../sass/elements.scss */
.short-product-list__title a {
  color: black;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.short-product-list__title a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.short-product-list__title a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.short-product-list__title a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.short-product-list__title a:active {
  color: #fc5f5f;
}

/* line 500, ../sass/elements.scss */
.short-product-list__price {
  margin: 14px 0 0 0;
}
/* line 502, ../sass/elements.scss */
.short-product-list__price .price {
  background: #4bb2e1;
  padding-left: 5px;
  padding-right: 5px;
}

/* checkout steps */
/* line 513, ../sass/elements.scss */
.checkout-steps__title {
  display: inline;
  float: left;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
}

/* line 523, ../sass/elements.scss */
.checkout-steps__item {
  text-align: center;
  display: inline;
  float: left;
  width: 132px;
  position: relative;
}
/* line 535, ../sass/elements.scss */
.checkout-steps__item:last-child .checkout-steps__arrow {
  display: none;
}

/* line 541, ../sass/elements.scss */
.checkout-steps__item__title {
  margin-top: 5px;
}

/* line 544, ../sass/elements.scss */
.checkout-steps__point {
  width: 32px;
  height: 32px;
  background: 0 0 no-repeat url(../../images/checkout-steps.png);
  text-align: center;
  line-height: 32px;
  font-size: 18pt;
  color: #fff;
  margin: 0 auto;
}

/* line 556, ../sass/elements.scss */
.checkout-steps__item_active .checkout-steps__point {
  background: -32px 0 no-repeat url(../../images/checkout-steps.png);
}

/* line 561, ../sass/elements.scss */
.checkout-steps__arrow {
  width: 89px;
  height: 14px;
  background: -64px 0 no-repeat url(../../images/checkout-steps.png);
  position: absolute;
  top: 9px;
  left: 88px;
}

/* checkout amount */
/* line 572, ../sass/elements.scss */
.checkout-amount {
  display: inline;
  float: right;
}

/* checkout price */
/* line 579, ../sass/elements.scss */
.checkout-price .price {
  font-size: 18pt;
}

/* line 583, ../sass/elements.scss */
.checkout-price__title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 18pt;
  line-height: 18pt;
  margin: 0 10px 0 0;
}

/* line 589, ../sass/elements.scss */
.checkout-price__value {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* cart table */
/* line 595, ../sass/elements.scss */
.cart-table {
  width: 100%;
  margin: 30px 0 0 0;
}
/* line 599, ../sass/elements.scss */
.cart-table tr.excluded {
  color: #7F7F7F !important;
}
/* line 601, ../sass/elements.scss */
.cart-table tr.excluded a {
  color: #7f7f7f;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cart-table tr.excluded a:visited {
  color: #7f7f7f;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cart-table tr.excluded a:focus {
  color: #7f7f7f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cart-table tr.excluded a:hover {
  color: #7f7f7f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cart-table tr.excluded a:active {
  color: #7f7f7f;
}
/* line 604, ../sass/elements.scss */
.cart-table tr.excluded img {
  opacity: 0.5;
}
/* line 609, ../sass/elements.scss */
.cart-table th, .cart-table td {
  text-align: center;
  border-bottom: 1px dashed #000;
}
/* line 614, ../sass/elements.scss */
.cart-table th {
  padding: 12px 0;
}
/* line 617, ../sass/elements.scss */
.cart-table td {
  padding: 20px 0;
}
/* line 619, ../sass/elements.scss */
.cart-table td .product-item-left {
  margin: 0 auto;
}

/* line 625, ../sass/elements.scss */
.cart-table__count-field {
  width: 30px;
  text-align: right;
}

/* line 629, ../sass/elements.scss */
.cart-table__checkbox {
  width: 34px;
  height: 38px;
  background: 0 0 no-repeat url(../../images/cart-sprite.png);
  margin: 0 auto;
  cursor: pointer;
}

/* line 636, ../sass/elements.scss */
.cart-table__checkbox_active {
  background: -34px 0 no-repeat url(../../images/cart-sprite.png);
}

/* line 640, ../sass/elements.scss */
.cart-table__delete {
  width: 20px;
  height: 20px;
  background: -68px 0 no-repeat url(../../images/cart-sprite.png);
  margin: 0 auto;
  margin-top: 15px;
  display: block;
}
/* line 647, ../sass/elements.scss */
.cart-table__delete:hover {
  background-position: -88px 0;
}

/* product item left */
/* line 653, ../sass/elements.scss */
.product-item-left {
  overflow: hidden;
  *zoom: 1;
  width: 270px;
}

/* line 658, ../sass/elements.scss */
.product-item-left__img {
  display: inline;
  float: left;
  margin: 0 20px 0 0;
}
/* line 660, ../sass/elements.scss */
.product-item-left__img img {
  width: 59px;
  height: 100px;
}

/* line 666, ../sass/elements.scss */
.product-item-left__content {
  text-align: left;
}

/* line 673, ../sass/elements.scss */
.product-item-left__content__description {
  margin: 8px 0 0 0;
  font-size: 9pt;
}

/* checkout button */
/* line 679, ../sass/elements.scss */
.content_checkout__button {
  width: 133px;
  height: 38px;
  line-height: 38px;
  font-size: 13pt;
  background: 0 0 no-repeat url(../../images/checkout-button.png);
  color: black;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.content_checkout__button:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.content_checkout__button:focus {
  color: black;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.content_checkout__button:hover {
  color: black;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.content_checkout__button:active {
  color: black;
}
/* line 686, ../sass/elements.scss */
.content_checkout__button:hover {
  background-position: -133px 0;
}
/* line 689, ../sass/elements.scss */
.content_checkout__button:active {
  background-position: -266px 0;
}

/* line 693, ../sass/elements.scss */
.content_checkout__button_disabled {
  background-position: -399px 0;
}
/* line 695, ../sass/elements.scss */
.content_checkout__button_disabled:hover {
  background-position: -399px 0;
}
/* line 698, ../sass/elements.scss */
.content_checkout__button_disabled:active {
  background-position: -399px 0;
}

/* line 702, ../sass/elements.scss */
.content_checkout__button_next {
  display: inline;
  float: right;
  margin-left: 23px;
}

/* shipping methods */
/* line 708, ../sass/elements.scss */
.shipping-methods {
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #000;
}
/* line 712, ../sass/elements.scss */
.shipping-methods .subsubheader {
  margin-top: 20px;
}
/* line 719, ../sass/elements.scss */
.shipping-methods table td {
  padding: 6px 0;
}
/* line 722, ../sass/elements.scss */
.shipping-methods table b {
  font-weight: bold;
}
/* line 725, ../sass/elements.scss */
.shipping-methods table label {
  margin-left: 6px;
}
/* line 729, ../sass/elements.scss */
.shipping-methods .price {
  font-size: 11pt;
}

/* checkout product list */
/* line 735, ../sass/elements.scss */
.checkout-products-list {
  margin: 25px 0 0 0;
  border: 1px dashed #000;
  border-width: 1px 0;
  padding: 10px 0 10px 10px;
}
/* line 741, ../sass/elements.scss */
.checkout-products-list .product-item-left {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 10px;
  width: 240px;
}
/* line 747, ../sass/elements.scss */
.checkout-products-list .price {
  font-size: 11pt;
}

/* checkout address */
/* line 753, ../sass/elements.scss */
.checkout-address {
  border-bottom: 1px dashed #000;
  padding-bottom: 15px;
}
/* line 756, ../sass/elements.scss */
.checkout-address .subsubheader {
  margin-top: 20px;
}
/* line 763, ../sass/elements.scss */
.checkout-address table td {
  vertical-align: top;
  padding: 6px 0;
  color: #0778ab;
}
/* line 768, ../sass/elements.scss */
.checkout-address table input, .checkout-address table textarea {
  border: 1px solid #0778ab;
  padding: 5px 5px;
  margin-top: -2px;
  width: 200px;
}
/* line 774, ../sass/elements.scss */
.checkout-address table textarea {
  width: 300px;
}

/* checkout info */
/* line 781, ../sass/elements.scss */
.checkout-info {
  margin: 10px 0 0 0;
  border-bottom: 1px dashed #000;
  padding: 0 0 15px 0;
}
/* line 789, ../sass/elements.scss */
.checkout-info table td {
  vertical-align: middle;
  padding: 6px 40px 6px 0;
}

/* line 795, ../sass/elements.scss */
.checkout-info__big {
  font-size: 18pt;
}
/* line 797, ../sass/elements.scss */
.checkout-info__big td {
  padding-top: 10px !important;
}

/* news */
/* line 803, ../sass/elements.scss */
.news-list-item {
  margin: 0 0 45px 0;
}

/* line 806, ../sass/elements.scss */
.news-list-item__header {
  font-size: 12pt;
  font-weight: bold;
}
/* line 809, ../sass/elements.scss */
.news-list-item__header a {
  text-decoration: none;
  color: black;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-list-item__header a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-list-item__header a:focus {
  color: black;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-list-item__header a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-list-item__header a:active {
  color: black;
}

/* line 814, ../sass/elements.scss */
.news-list-item__date {
  font-size: 14pt;
  color: #4bb2e1;
  margin: 12px 0 0 0;
}

/* line 819, ../sass/elements.scss */
.news-list-item__content {
  margin: 20px 0 0 0;
}

/* line 822, ../sass/elements.scss */
.news-list-item__content__image {
  display: inline;
  float: left;
  margin: 0 20px 20px 0;
}

/* line 826, ../sass/elements.scss */
.news-list-item__content__more {
  margin: 15px 0 0 0;
  text-align: right;
  font-size: 14pt;
}
/* line 830, ../sass/elements.scss */
.news-list-item__content__more a {
  color: #4bb2e1;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-list-item__content__more a:visited {
  color: #900099;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-list-item__content__more a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-list-item__content__more a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-list-item__content__more a:active {
  color: #fc5f5f;
}

/* line 835, ../sass/elements.scss */
.news_header {
  color: #000;
  line-height: 1;
}

/* line 843, ../sass/elements.scss */
.news-item__date {
  color: #4bb2e1;
  font-size: 14pt;
}

/* line 847, ../sass/elements.scss */
.news-item__content {
  margin: 20px 0 0 0;
}

/* line 850, ../sass/elements.scss */
.news-item__content__image {
  display: inline;
  float: left;
  margin: 0 20px 20px 0;
}

/* line 854, ../sass/elements.scss */
.news-item__back {
  margin: 40px 0 0 0;
  font-size: 10pt;
  background: left center no-repeat url(../../images/news-back.png);
  height: 19px;
  line-height: 19px;
  display: block;
  padding: 0 0 0 25px;
  cursor: pointer;
  text-decoration: underline;
  color: black;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-item__back:visited {
  color: #900099;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-item__back:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-item__back:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.news-item__back:active {
  color: #fc5f5f;
}

/* contacts */
/* line 868, ../sass/elements.scss */
.contacts-info {
  overflow: hidden;
  *zoom: 1;
}

/* line 871, ../sass/elements.scss */
.contacts-info__address {
  display: inline;
  float: left;
  margin-right: 38px;
}
/* line 874, ../sass/elements.scss */
.contacts-info__address table {
  height: 55px;
}
/* line 876, ../sass/elements.scss */
.contacts-info__address table td {
  vertical-align: middle;
  text-align: left;
}
/* line 879, ../sass/elements.scss */
.contacts-info__address table td.left {
  padding-right: 11px;
  border-right: 1px solid #0778ab;
}
/* line 883, ../sass/elements.scss */
.contacts-info__address table td.right {
  padding-left: 11px;
  width: 170px;
}

/* line 890, ../sass/elements.scss */
.contacts-info__times {
  display: inline;
  float: left;
  background: left center no-repeat url(../../images/times.png);
  padding: 0 0 0 45px;
}

/* line 896, ../sass/elements.scss */
.contacts-map {
  margin: 30px 0 0 0;
  text-align: center;
}

/* line 900, ../sass/elements.scss */
.contacts-map__container {
  margin: 0 auto;
  padding: 15px 13px;
  width: 624px;
  height: 364px;
  background: 0 0 no-repeat url(../../images/map-bg.png);
}

/* line 907, ../sass/elements.scss */
.contacts-map__content {
  width: 598px;
  height: 326px;
  overflow: hidden;
}

/* opt form */
/* line 917, ../sass/elements.scss */
.opt-form {
  margin-top: 30px;
}
/* line 923, ../sass/elements.scss */
.opt-form table td {
  vertical-align: top;
  padding: 6px 10px 6px 0;
}
/* line 926, ../sass/elements.scss */
.opt-form table td.left {
  text-align: right;
}
/* line 930, ../sass/elements.scss */
.opt-form table input, .opt-form table textarea {
  border: 1px solid #0778ab;
  padding: 5px 5px;
  margin-top: -3px;
  width: 200px;
}
/* line 936, ../sass/elements.scss */
.opt-form table textarea {
  width: 300px;
}
/* line 940, ../sass/elements.scss */
.opt-form .label {
  margin: 0 0 10px 0;
}
/* line 944, ../sass/elements.scss */
.opt-form .captcha input {
  width: 100px;
  margin-top: 6px;
  float: left;
}
/* line 949, ../sass/elements.scss */
.opt-form .captcha img {
  margin-left: 20px;
  float: left;
}

/* buy-shipping */
/* line 961, ../sass/elements.scss */
.buy-shipping__tabs__headers {
  border-bottom: 1px solid #b4b4b4;
  padding-left: 8px;
}
/* line 964, ../sass/elements.scss */
.buy-shipping__tabs__headers a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  height: 35px;
  width: 105px;
  margin: 0 4px 0 0;
  line-height: 35px;
  background: 0 -35px no-repeat url(../../images/buy-shipping-tabs.png);
  color: #000;
  text-decoration: none;
}
/* line 974, ../sass/elements.scss */
.buy-shipping__tabs__headers a:hover {
  background-position: -105px -35px;
}
/* line 977, ../sass/elements.scss */
.buy-shipping__tabs__headers a:active {
  background-position: -210px -35px;
}
/* line 980, ../sass/elements.scss */
.buy-shipping__tabs__headers a.selected {
  background-position: 0 0;
}
/* line 982, ../sass/elements.scss */
.buy-shipping__tabs__headers a.selected:hover {
  background-position: -105px 0;
}
/* line 985, ../sass/elements.scss */
.buy-shipping__tabs__headers a.selected:active {
  background-position: -210px 0;
}
/* line 989, ../sass/elements.scss */
.buy-shipping__tabs__headers a span {
  border-bottom: 1px dashed #000;
}

/* line 994, ../sass/elements.scss */
.buy-shipping__tabs__contents {
  padding: 15px 0 0 0;
}

/* line 998, ../sass/elements.scss */
.buy-tabs__contents {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 25px;
}
/* line 1001, ../sass/elements.scss */
.buy-tabs__contents img {
  float: left;
  margin-right: 20px;
}
/* line 1005, ../sass/elements.scss */
.buy-tabs__contents .buy-tabs__contents__txt {
  padding-top: 38px;
  font-weight: bold;
}

/* remont list */
/* line 1012, ../sass/elements.scss */
.remont-list {
  text-align: left;
}

/* line 1015, ../sass/elements.scss */
.remont-list__title {
  font-size: 12pt;
  font-weight: bold;
  margin: 0 0 20px 0;
}

/* line 1020, ../sass/elements.scss */
.remont-list__item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: left;
  width: 310px;
  margin: 0 40px 40px 0;
}

/* line 1028, ../sass/elements.scss */
.remont-list__item__img img {
  width: 310px;
  height: 201px;
}

/* line 1033, ../sass/elements.scss */
.remont-list__item__date {
  color: #4bb2e1;
  margin: 4px 0 0 0;
  font-size: 12pt;
}

/* line 1038, ../sass/elements.scss */
.remont-list__item__title {
  margin: 2px 0 0 0;
  font-size: 10pt;
  font-weight: bold;
}

/* line 1044, ../sass/elements.scss */
.remont-top {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 30px 0;
}
/* line 1047, ../sass/elements.scss */
.remont-top b {
  font-weight: bold;
}

/* line 1051, ../sass/elements.scss */
.remont-top__left {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 40px 0 0;
}

/* line 1056, ../sass/elements.scss */
.remont-top__right {
  display: inline;
  float: right;
  width: 370px;
}

/* mount request */
/* line 1066, ../sass/elements.scss */
.mount-form input, .mount-form textarea {
  border: 1px solid #0778ab;
  padding: 5px 5px;
  width: 350px;
}
/* line 1071, ../sass/elements.scss */
.mount-form textarea {
  height: 37px;
}
/* line 1077, ../sass/elements.scss */
.mount-form button {
  margin-top: 20px;
}

/* line 1081, ../sass/elements.scss */
.mount-form__label {
  margin: 15px 0 5px 0;
}

/* line 1084, ../sass/elements.scss */
.mount-form__captcha {
  overflow: hidden;
  *zoom: 1;
}
/* line 1086, ../sass/elements.scss */
.mount-form__captcha input {
  display: inline;
  float: left;
  margin-top: 6px;
}
/* line 1090, ../sass/elements.scss */
.mount-form__captcha img {
  display: inline;
  float: left;
  margin-left: 20px;
}
