/* top menu */
/* line 10, ../sass/elements.scss */
.header-menu li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 40px 0 0;
  font-size: 11pt;
}
/* line 14, ../sass/elements.scss */
.header-menu li a {
  color: black;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.header-menu li a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.header-menu li a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.header-menu li a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.header-menu li a:active {
  color: #fc5f5f;
}

/* cart bar */
/* line 21, ../sass/elements.scss */
.cartbar {
  margin: 12px 0 0;
}

/* line 26, ../sass/elements.scss */
.cartbar__content {
  line-height: 1.1;
  margin: 0 0 0 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 10pt;
  font-style: italic;
  color: #3d3d3d;
  text-align: center;
}
/* line 37, ../sass/elements.scss */
.cartbar__content p {
  margin: 0px 0;
}
/* line 40, ../sass/elements.scss */
.cartbar__content a {
  color: #3d3d3d;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cartbar__content a:visited {
  color: #3d3d3d;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cartbar__content a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cartbar__content a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cartbar__content a:active {
  color: #fc5f5f;
}

/* line 44, ../sass/elements.scss */
.cartbar__icon {
  margin: 0 0 0 16px;
  display: block;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* home info blocks */
/* line 53, ../sass/elements.scss */
.info-blocks .b-info-block {
  display: inline;
  float: left;
}
/* line 56, ../sass/elements.scss */
.info-blocks .a-first {
  background-position: 0 0;
}
/* line 58, ../sass/elements.scss */
.info-blocks .a-first:hover {
  background-position: -143px 0;
}
/* line 62, ../sass/elements.scss */
.info-blocks .a-second {
  background-position: 0 -131px;
}
/* line 64, ../sass/elements.scss */
.info-blocks .a-second:hover {
  background-position: -143px -131px;
}
/* line 68, ../sass/elements.scss */
.info-blocks .a-third {
  background-position: 0 -262px;
}
/* line 70, ../sass/elements.scss */
.info-blocks .a-third:hover {
  background-position: -143px -262px;
}
/* line 74, ../sass/elements.scss */
.info-blocks .info-blocks__delimeter {
  display: inline;
  float: left;
  width: 32px;
  height: 130px;
  background: 0 55px no-repeat url(../../images/home-blocks-delimeter.png);
}

/* line 81, ../sass/elements.scss */
.b-info-block {
  display: block;
  position: relative;
  width: 142px;
  height: 130px;
  background: 0 0 no-repeat url(../../images/home-blocks.jpg);
}
/* line 87, ../sass/elements.scss */
.b-info-block:hover {
  background-position: -143px 0;
}
/* line 90, ../sass/elements.scss */
.b-info-block i {
  position: absolute;
  top: 94px;
  text-align: center;
  width: 100%;
  color: #fff;
}

/* home search */
/* line 100, ../sass/elements.scss */
.home__search {
  margin: 21px 0 0;
}

/* search form */
/* line 106, ../sass/elements.scss */
.search_form input {
  font-size: 10pt;
  border: 1px solid #0778ab;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-box-shadow: #a4a4a4 0px 1px 1px;
  -moz-box-shadow: #a4a4a4 0px 1px 1px;
  box-shadow: #a4a4a4 0px 1px 1px;
  padding: 2px 0 2px 3px;
  outline: none;
}
/* line 115, ../sass/elements.scss */
.search_form button {
  background-color: #379bd9;
  border: 1px solid #0778ab;
  color: #fff;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: #a4a4a4 0px 1px 1px;
  -moz-box-shadow: #a4a4a4 0px 1px 1px;
  box-shadow: #a4a4a4 0px 1px 1px;
  margin: 0 0 0 3px;
  padding: 2px 3px;
  font-size: 10pt;
}

/* home seo text */
/* line 128, ../sass/elements.scss */
.home__seotext {
  margin: 18px 0 0;
}

/* gallery */
/* line 7, ../sass/_slider.scss */
.b-images {
  padding: 0px 90px 0px 90px;
  position: relative;
}
/* line 11, ../sass/_slider.scss */
.b-images .b-images__scrollable {
  position: relative;
  overflow: hidden;
}
/* line 16, ../sass/_slider.scss */
.b-images .b-images__scrollable .b-images__pages {
  width: 20000em;
  position: relative;
}
/* line 21, ../sass/_slider.scss */
.b-images .b-images__scrollable .b-images__pages ul {
  float: left;
  width: 1000px;
}
/* line 25, ../sass/_slider.scss */
.b-images .b-images__scrollable .b-images__pages ul .b-images__item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 190px;
  height: 442px;
  overflow: hidden;
  margin: 2px;
  text-align: center;
  line-height: 442px;
}
/* line 34, ../sass/_slider.scss */
.b-images .b-images__scrollable .b-images__pages ul .b-images__item a img {
  vertical-align: middle;
}
/* line 42, ../sass/_slider.scss */
.b-images .eg_previous_link, .b-images .eg_next_link {
  position: absolute;
  top: 50%;
  display: block;
  width: 46px;
  background: url(../../images/arrows.png);
  margin-top: -56px;
  height: 0;
  padding-top: 156px;
  font-size: 0;
  text-indent: -6000px;
}
/* line 51, ../sass/_slider.scss */
.b-images .eg_previous_link {
  left: 0;
  background-position: 0px 0;
}
/* line 54, ../sass/_slider.scss */
.b-images .eg_previous_link:hover {
  background-position: -46px 0;
}
/* line 57, ../sass/_slider.scss */
.b-images .eg_previous_link:active {
  background-position: -92px 0;
}
/* line 60, ../sass/_slider.scss */
.b-images .eg_previous_link.disabled {
  background-position: -138px 0;
  cursor: default;
}
/* line 65, ../sass/_slider.scss */
.b-images .eg_next_link {
  right: 0;
  background-position: -184px 0;
}
/* line 68, ../sass/_slider.scss */
.b-images .eg_next_link:hover {
  background-position: -230px 0;
}
/* line 71, ../sass/_slider.scss */
.b-images .eg_next_link:active {
  background-position: -276px 0;
}
/* line 74, ../sass/_slider.scss */
.b-images .eg_next_link.disabled {
  background-position: -322px 0;
  cursor: default;
}
/* line 79, ../sass/_slider.scss */
.b-images .eg_next_off, .b-images .eg_previous_off {
  display: none;
}

/* home popular */
/* line 135, ../sass/elements.scss */
.home__popular {
  margin: 12px 0 0;
}

/* line 138, ../sass/elements.scss */
.home__popular__content {
  margin: 10px 0 0;
  padding: 0 11px;
  overflow: hidden;
  *zoom: 1;
}
/* line 142, ../sass/elements.scss */
.home__popular__content .product-item {
  margin-right: 10px;
}
/* line 144, ../sass/elements.scss */
.home__popular__content .product-item:last-child {
  margin-right: 0px;
}

/* new products */
/* line 151, ../sass/elements.scss */
.home__new {
  margin: 12px 0 0;
}

/* line 154, ../sass/elements.scss */
.home__new__content {
  margin: 10px 0 0;
  padding: 0 11px;
  overflow: hidden;
  *zoom: 1;
  /*.b-images__scrollable{
      height:240px * 1 + 4px * 1;
  }*/
}
/* line 161, ../sass/elements.scss */
.home__new__content .product-item {
  margin-right: 10px;
}
/* line 163, ../sass/elements.scss */
.home__new__content .product-item:last-child {
  margin-right: 0px;
}
/* line 167, ../sass/elements.scss */
.home__new__content .eg_previous_link, .home__new__content .eg_next_link {
  top: 40%;
}

/* product item */
/* line 173, ../sass/elements.scss */
.product-item {
  line-height: 1;
  display: inline;
  float: left;
  width: 164px;
  text-align: center;
  border: 1px solid transparent;
  padding: 8px 12px 15px 12px;
}
/* line 180, ../sass/elements.scss */
.product-item:hover {
  border: 1px solid #b2b0b0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 187, ../sass/elements.scss */
.product-item__img img {
  width: 130px;
  height: 230px;
}

/* line 192, ../sass/elements.scss */
.product-item__middle {
  height: 140px;
  overflow: hidden;
}

/* line 196, ../sass/elements.scss */
.product-item__title {
  font-size: 10pt;
  margin: 7px 0 0;
  line-height: 1.15;
}

/* line 201, ../sass/elements.scss */
.product-item__description {
  margin: 10px 0 0;
  line-height: 1.15;
}
/* line 204, ../sass/elements.scss */
.product-item__description p {
  margin: 0px 0;
}

/* line 208, ../sass/elements.scss */
.product-item__buy {
  margin: 19px 0 0;
}

/* line 211, ../sass/elements.scss */
.product-item_short {
  width: 178px;
  padding: 8px 5px 15px 5px;
}
/* line 216, ../sass/elements.scss */
.product-item_short .product-item__img img {
  width: 175px;
  height: 180px;
}

/* footer icons */
/* line 224, ../sass/elements.scss */
.footer-icon {
  height: 21px;
  line-height: 21px;
  padding: 0 0 0 31px;
  margin: 0 0 10px 0;
  color: #5fbde7;
  background: 0 -86px no-repeat url(../../images/footer-icons.png);
}

/* line 232, ../sass/elements.scss */
.footer-icon_delivery {
  background-position: 0 -65px;
}

/* line 235, ../sass/elements.scss */
.footer-icon_how-buy {
  background-position: 0 -44px;
}

/* line 238, ../sass/elements.scss */
.footer-icon_actions {
  background-position: 0 0;
}

/* line 241, ../sass/elements.scss */
.footer-icon_all-news {
  background-position: 0 -23px;
}

/* content */
/* line 249, ../sass/elements.scss */
.content__header {
  font-size: 36pt;
  color: #4bb2e1;
  margin-bottom: 18px;
}

/* line 254, ../sass/elements.scss */
.content__header_product {
  font-size: 24pt;
  color: #000;
  margin-bottom: 0;
}

/* icon item */
/* line 262, ../sass/elements.scss */
.icon-item {
  height: 31px;
  line-height: 31px;
  padding: 0 0 0 36px;
  margin: 0 0 5px 0;
  color: #5fbde7;
  background: 0 0 no-repeat url(../../images/icon-items.png);
}

/* line 270, ../sass/elements.scss */
.icon-item_new {
  background-position: 0 0;
}

/* line 273, ../sass/elements.scss */
.icon-item_best {
  background-position: 0 -31px;
}

/* catalog left menu */
/* line 278, ../sass/elements.scss */
.box {
  margin: 20px 0 0 0;
}
/* line 280, ../sass/elements.scss */
.box .box-heading {
  font-size: 12pt;
  color: #0778ab;
}
/* line 284, ../sass/elements.scss */
.box .box-category {
  margin: 0 0 0 24px;
}
/* line 286, ../sass/elements.scss */
.box .box-category ul > li ul {
  display: none;
}
/* line 289, ../sass/elements.scss */
.box .box-category ul > li a.active + ul {
  display: block;
}
/* line 292, ../sass/elements.scss */
.box .box-category ul > li > ul {
  margin: 0 0 15px 14px;
}
/* line 295, ../sass/elements.scss */
.box .box-category li {
  margin: 8px 0 0 0;
}
/* line 298, ../sass/elements.scss */
.box .box-category a {
  color: black;
  font-size: 10pt;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.box .box-category a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.box .box-category a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.box .box-category a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.box .box-category a:active {
  color: #fc5f5f;
}
/* line 301, ../sass/elements.scss */
.box .box-category a.active {
  color: #4bb2e1;
  text-decoration: none;
  font-weight: bold;
}
/* line 306, ../sass/elements.scss */
.box .box-category a.subactive {
  color: #800080;
  font-weight: normal;
  text-decoration: underline;
}

/* category item */
/* line 316, ../sass/elements.scss */
.category-item {
  display: inline;
  float: left;
  text-align: center;
  width: 190px;
}
/* line 324, ../sass/elements.scss */
.category-item .product-item {
  float: none;
  display: block;
  margin: 0 !important;
  margin-top: 12px !important;
}

/* line 331, ../sass/elements.scss */
.category-item__title {
  background: #0678ac;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 8px 18px;
  text-align: center;
  margin: 0 auto;
}
/* line 340, ../sass/elements.scss */
.category-item__title a {
  color: white;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.category-item__title a:visited {
  color: white;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.category-item__title a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.category-item__title a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.category-item__title a:active {
  color: #fc5f5f;
}

/* line 344, ../sass/elements.scss */
.category-item__img {
  width: 15px;
  height: 25px;
  background: url(../../images/category-item-img.png);
  margin: 0 auto;
  margin-top: 3px;
}

/* line 352, ../sass/elements.scss */
.subheader {
  font-size: 18pt;
  color: #000;
  margin: 35px 0 15px 0;
}

/* line 358, ../sass/elements.scss */
.subsubheader {
  font-size: 14pt;
  color: #000;
  margin: 50px 0 15px 0;
}

/* product page */
/* line 368, ../sass/elements.scss */
.content_product__sku {
  font-size: 10pt;
}

/* line 372, ../sass/elements.scss */
.product-content {
  margin: 18px 0 0;
}
/* line 374, ../sass/elements.scss */
.product-content .product-tabs {
  text-align: right;
}
/* line 376, ../sass/elements.scss */
.product-content .product-tabs a {
  text-align: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 10pt;
  color: black;
  text-decoration: none;
  padding: 6px;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .product-tabs a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .product-tabs a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .product-tabs a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .product-tabs a:active {
  color: #fc5f5f;
}
/* line 383, ../sass/elements.scss */
.product-content .product-tabs a.selected {
  background-color: #4bb2e1;
  border: none;
}
/* line 386, ../sass/elements.scss */
.product-content .product-tabs a.selected span {
  border: none;
}
/* line 390, ../sass/elements.scss */
.product-content .product-tabs a span {
  border-bottom: 1px dashed #000;
}
/* line 399, ../sass/elements.scss */
.product-content .compare-products {
  display: inline;
  float: left;
  margin: 3px 0 0 0;
}
/* line 403, ../sass/elements.scss */
.product-content .compare-products a {
  font-style: italic;
  color: black;
  font-size: 10pt;
  margin: 0 15px 0 0;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .compare-products a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .compare-products a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .compare-products a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.product-content .compare-products a:active {
  color: #fc5f5f;
}
/* line 409, ../sass/elements.scss */
.product-content .compare-products .no-active, .product-content .compare-products a.no-active {
  color: #9c9c9c;
  text-decoration: none;
  cursor: default;
}

/* line 416, ../sass/elements.scss */
.product-content__center {
  overflow: hidden;
  *zoom: 1;
  margin: 50px 0 0 0;
}

/* line 420, ../sass/elements.scss */
.product-content__center__left {
  display: inline;
  float: left;
  width: 210px;
  text-align: center;
}

/* line 427, ../sass/elements.scss */
.product-content__center__right {
  display: inline;
  float: right;
  width: 420px;
}

/* line 432, ../sass/elements.scss */
.product-content__img {
  display: block;
  position: relative;
}
/* line 435, ../sass/elements.scss */
.product-content__img img {
  width: 120px;
  height: 230px;
}
/* line 439, ../sass/elements.scss */
.product-content__img .product-content__img__zoom {
  background: 0 0 no-repeat url(../../images/zoom-icon.png);
  width: 38px;
  height: 38px;
  position: absolute;
  bottom: 15px;
  right: 40px;
}
/* line 449, ../sass/elements.scss */
.product-content__img:hover .product-content__img__zoom {
  background: -38px 0 no-repeat url(../../images/zoom-icon.png);
  width: 43px;
  height: 43px;
  right: 35px;
  bottom: 10px;
}

/* line 464, ../sass/elements.scss */
.specs__table td {
  text-align: left;
  padding: 10px 35px 10px 0;
}
/* line 467, ../sass/elements.scss */
.specs__table td:last-child {
  padding-right: 0;
}

/* short product list */
/* line 477, ../sass/elements.scss */
.short-product-list__item {
  width: 180px;
  padding: 3px 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  overflow: hidden;
  *zoom: 1;
  margin: 0 35px 10px 0;
}

/* line 484, ../sass/elements.scss */
.short-product-list__item__img {
  display: inline;
  float: left;
  margin: 0 20px 0 0;
}
/* line 487, ../sass/elements.scss */
.short-product-list__item__img img {
  width: 59px;
  height: 100px;
}

/* line 492, ../sass/elements.scss */
.short-product-list__title {
  margin: 5px 0 0 0;
}
/* line 494, ../sass/elements.scss */
.short-product-list__title a {
  color: black;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.short-product-list__title a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.short-product-list__title a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.short-product-list__title a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.short-product-list__title a:active {
  color: #fc5f5f;
}

/* line 498, ../sass/elements.scss */
.short-product-list__price {
  margin: 14px 0 0 0;
}
/* line 500, ../sass/elements.scss */
.short-product-list__price .price {
  background: #4bb2e1;
  padding-left: 5px;
  padding-right: 5px;
}

/* checkout steps */
/* line 511, ../sass/elements.scss */
.checkout-steps__title {
  display: inline;
  float: left;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
}

/* line 521, ../sass/elements.scss */
.checkout-steps__item {
  text-align: center;
  display: inline;
  float: left;
  width: 132px;
  position: relative;
}
/* line 533, ../sass/elements.scss */
.checkout-steps__item:last-child .checkout-steps__arrow {
  display: none;
}

/* line 539, ../sass/elements.scss */
.checkout-steps__item__title {
  margin-top: 5px;
}

/* line 542, ../sass/elements.scss */
.checkout-steps__point {
  width: 32px;
  height: 32px;
  background: 0 0 no-repeat url(../../images/checkout-steps.png);
  text-align: center;
  line-height: 32px;
  font-size: 18pt;
  color: #fff;
  margin: 0 auto;
}

/* line 554, ../sass/elements.scss */
.checkout-steps__item_active .checkout-steps__point {
  background: -32px 0 no-repeat url(../../images/checkout-steps.png);
}

/* line 559, ../sass/elements.scss */
.checkout-steps__arrow {
  width: 89px;
  height: 14px;
  background: -64px 0 no-repeat url(../../images/checkout-steps.png);
  position: absolute;
  top: 9px;
  left: 88px;
}

/* checkout amount */
/* line 570, ../sass/elements.scss */
.checkout-amount {
  display: inline;
  float: right;
}

/* checkout price */
/* line 577, ../sass/elements.scss */
.checkout-price .price {
  font-size: 18pt;
}

/* line 581, ../sass/elements.scss */
.checkout-price__title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 18pt;
  line-height: 18pt;
  margin: 0 10px 0 0;
}

/* line 587, ../sass/elements.scss */
.checkout-price__value {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* cart table */
/* line 593, ../sass/elements.scss */
.cart-table {
  width: 100%;
  margin: 30px 0 0 0;
}
/* line 597, ../sass/elements.scss */
.cart-table tr.excluded {
  color: #7F7F7F !important;
}
/* line 599, ../sass/elements.scss */
.cart-table tr.excluded a {
  color: #7f7f7f;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cart-table tr.excluded a:visited {
  color: #7f7f7f;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cart-table tr.excluded a:focus {
  color: #7f7f7f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cart-table tr.excluded a:hover {
  color: #7f7f7f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.cart-table tr.excluded a:active {
  color: #7f7f7f;
}
/* line 602, ../sass/elements.scss */
.cart-table tr.excluded img {
  opacity: 0.5;
}
/* line 607, ../sass/elements.scss */
.cart-table th, .cart-table td {
  text-align: center;
  border-bottom: 1px dashed #000;
}
/* line 612, ../sass/elements.scss */
.cart-table th {
  padding: 12px 0;
}
/* line 615, ../sass/elements.scss */
.cart-table td {
  padding: 20px 0;
}
/* line 617, ../sass/elements.scss */
.cart-table td .product-item-left {
  margin: 0 auto;
}

/* line 623, ../sass/elements.scss */
.cart-table__count-field {
  width: 30px;
  text-align: right;
}

/* line 627, ../sass/elements.scss */
.cart-table__checkbox {
  width: 34px;
  height: 38px;
  background: 0 0 no-repeat url(../../images/cart-sprite.png);
  margin: 0 auto;
  cursor: pointer;
}

/* line 634, ../sass/elements.scss */
.cart-table__checkbox_active {
  background: -34px 0 no-repeat url(../../images/cart-sprite.png);
}

/* line 638, ../sass/elements.scss */
.cart-table__delete {
  width: 20px;
  height: 20px;
  background: -68px 0 no-repeat url(../../images/cart-sprite.png);
  margin: 0 auto;
  margin-top: 15px;
  display: block;
}
/* line 645, ../sass/elements.scss */
.cart-table__delete:hover {
  background-position: -88px 0;
}

/* product item left */
/* line 651, ../sass/elements.scss */
.product-item-left {
  overflow: hidden;
  *zoom: 1;
  width: 270px;
}

/* line 656, ../sass/elements.scss */
.product-item-left__img {
  display: inline;
  float: left;
  margin: 0 20px 0 0;
}
/* line 658, ../sass/elements.scss */
.product-item-left__img img {
  width: 59px;
  height: 100px;
}

/* line 664, ../sass/elements.scss */
.product-item-left__content {
  text-align: left;
}

/* line 671, ../sass/elements.scss */
.product-item-left__content__description {
  margin: 8px 0 0 0;
  font-size: 9pt;
}

/* checkout button */
/* line 677, ../sass/elements.scss */
.content_checkout__button {
  width: 133px;
  height: 39px;
  line-height: 39px;
  font-size: 13pt;
  background: 0 0 no-repeat url(../../images/checkout-button.png);
  /*@include link-colors(#000, #000, #000, #000, #000);*/
}
/* line 684, ../sass/elements.scss */
.content_checkout__button:hover {
  background-position: -133px 0;
}
/* line 687, ../sass/elements.scss */
.content_checkout__button:active {
  background-position: -266px 0;
}

/* line 691, ../sass/elements.scss */
.content_checkout__button_disabled {
  background-position: -399px 0;
}
/* line 693, ../sass/elements.scss */
.content_checkout__button_disabled:hover {
  background-position: -399px 0;
}
/* line 696, ../sass/elements.scss */
.content_checkout__button_disabled:active {
  background-position: -399px 0;
}

/* line 700, ../sass/elements.scss */
.content_checkout__button_next {
  display: inline;
  float: right;
  margin-left: 23px;
}

/* shipping methods */
/* line 706, ../sass/elements.scss */
.shipping-methods {
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #000;
}
/* line 710, ../sass/elements.scss */
.shipping-methods .subsubheader {
  margin-top: 20px;
}
/* line 717, ../sass/elements.scss */
.shipping-methods table td {
  padding: 6px 0;
}
/* line 720, ../sass/elements.scss */
.shipping-methods table b {
  font-weight: bold;
}
/* line 723, ../sass/elements.scss */
.shipping-methods table label {
  margin-left: 6px;
}
/* line 727, ../sass/elements.scss */
.shipping-methods .price {
  font-size: 11pt;
}
