/* line 17, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_typography.scss */
.typography {
  /* typography */
  /* Headings
  -------------------------------------------------------------- */
  /* Lists
  -------------------------------------------------------------- */
  /* Tables
  -------------------------------------------------------------- */
  /*
      Because of the need for padding on TH and TD, the vertical rhythm
      on table cells has to be 27px, instead of the standard 18px or 36px
      of other elements.
   */
  /*
      You can zebra-stripe your tables in outdated browsers by adding
      the class "even" to every other table row.
   */
}
/* line 7, ../sass/_typography.scss */
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  font-weight: normal;
  color: #111;
}
/* line 9, ../sass/_typography.scss */
.typography h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 10, ../sass/_typography.scss */
.typography h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 11, ../sass/_typography.scss */
.typography h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 12, ../sass/_typography.scss */
.typography h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 13, ../sass/_typography.scss */
.typography h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 14, ../sass/_typography.scss */
.typography h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 17, ../sass/_typography.scss */
.typography h1 img, .typography h2 img, .typography h3 img,
.typography h4 img, .typography h5 img, .typography h6 img {
  margin: 0;
}
/* line 23, ../sass/_typography.scss */
.typography blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 24, ../sass/_typography.scss */
.typography strong, .typography dfn {
  font-weight: bold;
}
/* line 25, ../sass/_typography.scss */
.typography em, .typography dfn {
  font-style: italic;
}
/* line 26, ../sass/_typography.scss */
.typography sup, .typography sub {
  line-height: 0;
}
/* line 29, ../sass/_typography.scss */
.typography abbr,
.typography acronym {
  border-bottom: 1px dotted #666;
}
/* line 30, ../sass/_typography.scss */
.typography address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 31, ../sass/_typography.scss */
.typography del {
  color: #666;
}
/* line 33, ../sass/_typography.scss */
.typography pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 34, ../sass/_typography.scss */
.typography pre, .typography code, .typography tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 41, ../sass/_typography.scss */
.typography li ul,
.typography li ol {
  margin: 0;
}
/* line 42, ../sass/_typography.scss */
.typography ul, .typography ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 44, ../sass/_typography.scss */
.typography ul {
  list-style-type: disc;
}
/* line 45, ../sass/_typography.scss */
.typography ol {
  list-style-type: decimal;
}
/* line 47, ../sass/_typography.scss */
.typography dl {
  margin: 0 0 1.5em 0;
}
/* line 48, ../sass/_typography.scss */
.typography dl dt {
  font-weight: bold;
}
/* line 49, ../sass/_typography.scss */
.typography dd {
  margin-left: 1.5em;
}
/* line 60, ../sass/_typography.scss */
.typography table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 61, ../sass/_typography.scss */
.typography th {
  font-weight: bold;
}
/* line 62, ../sass/_typography.scss */
.typography thead th {
  background: #c3d9ff;
}
/* line 63, ../sass/_typography.scss */
.typography th, .typography td, .typography caption {
  padding: 4px 10px 4px 5px;
}
/* line 69, ../sass/_typography.scss */
.typography tbody tr:nth-child(even) td,
.typography tbody tr.even td {
  background: #e5ecf9;
}
/* line 72, ../sass/_typography.scss */
.typography tfoot {
  font-style: italic;
}
/* line 73, ../sass/_typography.scss */
.typography caption {
  background: #eee;
}

/* ruble fonts */
@font-face {
  font-family: 'Rubl-Verdana';
  src: url("../fonts/rub_verdana/alsrubl-verdana-italic.eot");
  src: url("../fonts/rub_verdana/alsrubl-verdana-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/rub_verdana/alsrubl-verdana-italic.woff") format("woff"), url("../fonts/rub_verdana/alsrubl-verdana-italic.ttf") format("truetype"), url("../fonts/rub_verdana/alsrubl-verdana-italic.svg#ALSRublItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* line 22, ../sass/layout.scss */
body {
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  line-height: 1.25;
}

/* line 28, ../sass/layout.scss */
button::-moz-focus-inner {
  /* убираем внутренний отступ у кнопки в FF, который зарезервирован для рамки при фокусе */
  padding: 0;
  border: 0;
}

/* line 33, ../sass/layout.scss */
a {
  color: #0778ab;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #900099;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #fc5f5f;
}

/* line 37, ../sass/layout.scss */
p {
  margin: 5px 0;
}

/* common layout */
/* line 43, ../sass/layout.scss */
.g-layout {
  position: relative;
  margin: 0 auto;
  width: 1000px;
}

/* line 59, ../sass/layout.scss */
.header {
  line-height: 1;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  background: 86px 0 no-repeat url(../../images/header-bg.jpg) white;
}
/* line 65, ../sass/layout.scss */
.header .header-menu {
  position: absolute;
  bottom: 0;
  left: 260px;
}

/* line 71, ../sass/layout.scss */
.header__logo {
  display: inline;
  float: left;
  margin: 0 0 0 52px;
  padding: 34px 0 0;
  width: 163px;
  text-align: center;
}

/* line 79, ../sass/layout.scss */
.header__logo__slogan {
  margin: 5px 0 0;
  background: 0 0 no-repeat url(../../images/slogan.png) white;
  height: 0;
  padding-top: 19px;
  font-size: 0;
  text-indent: -6000px;
  width: 100%;
}

/* line 86, ../sass/layout.scss */
.header__title {
  position: absolute;
  background: #fff;
  top: 0;
  left: 371px;
  height: 43px;
  line-height: 43px;
  width: 258px;
  border: 2px solid #c6c7c7;
  border-top: none;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  -webkit-box-shadow: #c6c7c7 0px 0px 8px;
  -moz-box-shadow: #c6c7c7 0px 0px 8px;
  box-shadow: #c6c7c7 0px 0px 8px;
  font-size: 10pt;
}

/* line 101, ../sass/layout.scss */
.header__content {
  display: inline;
  float: right;
  margin: 20px 0 0;
}

/* line 106, ../sass/layout.scss */
.header__content__right {
  width: 240px;
  background: right 15px no-repeat url(../../images/header-right-bg.png);
}

/* line 112, ../sass/layout.scss */
.header__content__right__phone {
  font-size: 18pt;
  color: #000000;
}

/* line 116, ../sass/layout.scss */
.header__content__right__action {
  overflow: hidden;
  *zoom: 1;
}

/* line 119, ../sass/layout.scss */
.header__content__right__action__text {
  font-size: 12pt;
  display: inline;
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 21px 0 0;
}

/* line 128, ../sass/layout.scss */
.header__content__right__action__label {
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 21px 30px 0 0;
  display: inline;
  float: right;
}
/* line 134, ../sass/layout.scss */
.header__content__right__action__label img {
  vertical-align: middle;
}

/* line 144, ../sass/layout.scss */
.center {
  margin: 28px 0 0;
}

/* footer */
/* line 149, ../sass/layout.scss */
.footer {
  margin: 10px 0 0;
  padding: 26px 33px 12px 33px;
  background: -4px 0 repeat-x url(../../images/footer-bg.png) #0778ab;
}

/* line 154, ../sass/layout.scss */
.footer__top {
  overflow: hidden;
  *zoom: 1;
}

/* line 157, ../sass/layout.scss */
.footer__top__catalog {
  display: inline;
  float: left;
}
/* line 159, ../sass/layout.scss */
.footer__top__catalog ul {
  list-style: none inside;
  margin: 0 0 0 31px;
  color: #3da4d2;
}
/* line 163, ../sass/layout.scss */
.footer__top__catalog ul a {
  color: #3da4d2;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__top__catalog ul a:visited {
  color: #3da4d2;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__top__catalog ul a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__top__catalog ul a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__top__catalog ul a:active {
  color: #fc5f5f;
}
/* line 167, ../sass/layout.scss */
.footer__top__catalog ul > li:before {
  content: "\2043";
  margin-right: 1ex;
}

/* line 172, ../sass/layout.scss */
.footer__top__links {
  display: inline;
  float: left;
  margin: 0 0 0 70px;
}
/* line 175, ../sass/layout.scss */
.footer__top__links a {
  color: #5fbde7;
  /*text-decoration: none;*/
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__top__links a:visited {
  color: #5fbde7;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__top__links a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__top__links a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__top__links a:active {
  color: #fc5f5f;
}

/* line 180, ../sass/layout.scss */
.footer__top__contacts {
  display: inline;
  float: right;
  color: #5fbde7;
}

/* line 184, ../sass/layout.scss */
.footer__top__contacts__phone {
  font-size: 14pt;
}

/* line 187, ../sass/layout.scss */
.footer__top__contacts__email {
  font-size: 14pt;
}

/* line 190, ../sass/layout.scss */
.footer__bottom {
  overflow: hidden;
  *zoom: 1;
  margin: 27px 0 0 0;
  color: #fff;
}

/* line 195, ../sass/layout.scss */
.footer__bottom__left {
  display: inline;
  float: left;
}

/* line 198, ../sass/layout.scss */
.footer__bottom__right {
  display: inline;
  float: right;
  color: #94c5db;
}
/* line 201, ../sass/layout.scss */
.footer__bottom__right a {
  color: #94c5db;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__bottom__right a:visited {
  color: #94c5db;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__bottom__right a:focus {
  color: #fc5f5f;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__bottom__right a:hover {
  color: #fc5f5f;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer__bottom__right a:active {
  color: #fc5f5f;
}

/* home */
/* line 212, ../sass/layout.scss */
.home__info {
  overflow: hidden;
  *zoom: 1;
  line-height: 1;
}

/* line 216, ../sass/layout.scss */
.home__info__name {
  display: inline;
  float: left;
  margin: 0 50px 0 5px;
}

/* page */
/* line 225, ../sass/layout.scss */
.page {
  margin-bottom: 28px;
}

/* line 232, ../sass/layout.scss */
.page__middle {
  overflow: hidden;
  *zoom: 1;
  margin: 8px 0 0 12px;
}

/* line 236, ../sass/layout.scss */
.page__middle__left {
  display: inline;
  float: left;
  width: 276px;
  margin: 30px 0 0 0;
}

/* line 242, ../sass/layout.scss */
.page__middle__right {
  display: inline;
  float: left;
  width: 712px;
}

/* dots header */
/* line 249, ../sass/layout.scss */
.header-dots {
  background: 0 19px repeat-x url(../../images/header-bg.png);
  font-size: 23pt;
  color: #0778ab;
  padding: 0 0 0 40px;
}
/* line 254, ../sass/layout.scss */
.header-dots b {
  background-color: #fff;
  padding: 0 17px 0 24px;
}

/* price */
/* line 262, ../sass/layout.scss */
.price {
  font-size: 12pt;
}

/* line 265, ../sass/layout.scss */
.price__sign {
  font-family: "Rubl-Verdana";
  font-style: italic;
}

/* line 269, ../sass/layout.scss */
.price__dot {
  position: absolute;
  text-indent: -1000em;
}

/* line 273, ../sass/layout.scss */
.price__big {
  font-size: 16pt;
}

/* line 276, ../sass/layout.scss */
.price__small_italic {
  font-size: 10pt;
}

/* button */
/* line 281, ../sass/layout.scss */
.button {
  cursor: pointer;
  border: none;
}

/* line 285, ../sass/layout.scss */
.button_a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  text-decoration: none;
  color: white;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.button_a:visited {
  color: white;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.button_a:focus {
  color: white;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.button_a:hover {
  color: white;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.button_a:active {
  color: white;
}

/* line 291, ../sass/layout.scss */
.button_buy {
  width: 61px;
  height: 26px;
  line-height: 26px;
  background: 0 0 no-repeat url(../../images/button-buy.png);
  color: #000;
  margin: 0 0 0 3px;
  font-size: 9pt;
}
/* line 299, ../sass/layout.scss */
.button_buy:hover {
  background-position: -61px 0;
}
/* line 302, ../sass/layout.scss */
.button_buy:active {
  background-position: -122px 0;
}

/* line 306, ../sass/layout.scss */
.button_red {
  width: 110px;
  height: 24px;
  line-height: 24px;
  background: 0 0 no-repeat url(../../images/buttons.png);
  color: #fff;
  font-size: 10pt;
}
/* line 313, ../sass/layout.scss */
.button_red:hover {
  background-position: -110px 0;
}
/* line 316, ../sass/layout.scss */
.button_red:active {
  background-position: -220px 0;
}

/* line 321, ../sass/layout.scss */
.button_green {
  width: 110px;
  height: 24px;
  line-height: 24px;
  background: 0 -24px no-repeat url(../../images/buttons.png);
  color: #fff;
  font-size: 10pt;
}
/* line 328, ../sass/layout.scss */
.button_green:hover {
  background-position: -110px -24px;
}
/* line 331, ../sass/layout.scss */
.button_green:active {
  background-position: -220px -24px;
}

/* notifications */
/* line 338, ../sass/layout.scss */
.success, .warning, .attention, .information {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  color: #555555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  line-height: 1;
  margin-top: 6px;
}

/* line 349, ../sass/layout.scss */
.success {
  background: #eaf7d9 url("../../../default/image/success.png") 10px center no-repeat;
  border: 1px solid #BBDF8D;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

/* line 357, ../sass/layout.scss */
.warning {
  background: #ffd1d1 url("../../../default/image/warning.png") 10px center no-repeat;
  border: 1px solid #F8ACAC;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

/* line 365, ../sass/layout.scss */
.attention {
  background: #fff5cc url("../../../default/image/attention.png") 10px center no-repeat;
  border: 1px solid #F2DD8C;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

/* line 373, ../sass/layout.scss */
.success .close, .warning .close, .attention .close, .information .close {
  float: right;
  padding-top: 4px;
  padding-right: 4px;
  cursor: pointer;
}

/* line 379, ../sass/layout.scss */
.required {
  color: #FF0000;
  font-weight: bold;
}

/* line 383, ../sass/layout.scss */
.error {
  display: block;
  color: #FF0000;
}

/* line 387, ../sass/layout.scss */
.help {
  color: #999;
  font-size: 10px;
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
  display: block;
}

/* content */
/* line 402, ../sass/layout.scss */
.content_checkout__top {
  overflow: hidden;
  *zoom: 1;
}

/* line 405, ../sass/layout.scss */
.content_checkout__bottom {
  margin-top: 30px;
}
