<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8' />
    <title>TopRaise</title>
    <link href="css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/layout.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/elements.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/pages.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
    <link href="css/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script src="js/jquery-1.4.4.min.js"></script>
    <script src="js/jquery.tools.min.js"></script>
    <script src="js/gslider.js"></script>
    <script>
        $(function(){
            $('.evo-gallery').each(function(){
                new evoGallery($(this), {
                    loader_img: 'assets/images/ajax-loader-black.gif'
                });
            });
        });
    </script>
</head>
<body>
<div class="g-layout">
<div class="g-header">
    <div class="header">
        <div class="header__title">Интернет-магазин комфорта</div>
        <div class="header__logo">
            <a href="" alt="TopRaise" title="Перейти на главную страницу"><img src="images/logo.jpg" /></a>
            <div class="header__logo__slogan">Ключ к вашему комфорту</div>
        </div>
        <div class="header__content">
            <div class="header__content__right">
                <div class="header__content__right__phone">(3822) 65-65-82</div>
                <div class="header__content__right__action">
                    <a class="header__content__right__action__text" href="">Наши акции</a>
                    <div class="header__content__right__action__label"><img src="images/action-new.png" /></div>
                </div>
                <div class="header__content__right__cart cartbar">
                    <div class="cartbar__content">
                        <p><a href="">Ваша корзина</a></p>
                        <p><span class="price price__small_italic">20000 <span class="price__sign">Р</span><span class="price__dot">уб.</span></span></p>
                        <p>1 товар</p>
                    </div>
                    <a href="" class="cartbar__icon"><img src="images/cart-icon.png" /></a>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="">О нас</a></li>
                <li><a href="">Каталог</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Доставка и покупка</a></li>
                <li><a href="">Услуги</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="g-center">
    <div class="center page">
        <div class="page__banner"><a href=""><img src="images/banner.jpg"/></a></div>
        <div class="page__middle">
            <div class="page__middle__left">
                <h5 class="icon-item icon-item_new"><a href="">НАШИ НОВИНКИ</a></h5>
                <h5 class="icon-item icon-item_best"><a href="">БЕСТСЕЛЛЕРЫ</a></h5>

                <div class="home__search search_form">
                    <form>
                        <input type="text" placeholder="Поиск товара"/><button type="submit" class="button">найти</button>
                    </form>
                </div>
            </div>
            <div class="page__middle__right content">
                <h1 class="content__header">Душевые угловые кабинки</h1>

                <div class="catalog-container">
                    <!-- products -->
                    <div class="product-item product-item_full">
                        <div class="product-item__img">
                            <a href=""><img src="images/test.jpg" /></a>
                        </div>
                        <div class="product-item__middle">
                            <h4 class="product-item__title"><a href="">Душевая кабина Borneo 822.960.141 90х90</a></h4>
                            <div class="product-item__description">
                                <p>Тип—угловая</p>
                                <p>Ограждение—полностенное</p>
                                <p>Форма—четверть круга</p>
                                <p>Материал поддона—акрил</p>
                            </div>
                        </div>
                        <div class="product-item__buy">
                            <span class="price price__big">20000 <span class="price__sign">Р</span><span class="price__dot">уб.</span></span>
                            <button class="button button_buy">Купить</button>
                        </div>
                    </div>
                    <div class="product-item product-item_full">
                        <div class="product-item__img">
                            <a href=""><img src="images/test.jpg" /></a>
                        </div>
                        <div class="product-item__middle">
                            <h4 class="product-item__title"><a href="">Душевая кабина Borneo 822.960.141 90х90</a></h4>
                            <div class="product-item__description">
                                <p>Тип—угловая</p>
                                <p>Ограждение—полностенное</p>
                                <p>Форма—четверть круга</p>
                                <p>Материал поддона—акрил</p>
                            </div>
                        </div>
                        <div class="product-item__buy">
                            <span class="price price__big">20000 <span class="price__sign">Р</span><span class="price__dot">уб.</span></span>
                            <button class="button button_buy">Купить</button>
                        </div>
                    </div>
                    <div class="product-item product-item_full">
                        <div class="product-item__img">
                            <a href=""><img src="images/test.jpg" /></a>
                        </div>
                        <div class="product-item__middle">
                            <h4 class="product-item__title"><a href="">Душевая кабина Borneo 822.960.141 90х90</a></h4>
                            <div class="product-item__description">
                                <p>Тип—угловая</p>
                                <p>Ограждение—полностенное</p>
                                <p>Форма—четверть круга</p>
                                <p>Материал поддона—акрил</p>
                            </div>
                        </div>
                        <div class="product-item__buy">
                            <span class="price price__big">20000 <span class="price__sign">Р</span><span class="price__dot">уб.</span></span>
                            <button class="button button_buy">Купить</button>
                        </div>
                    </div>
                    <div class="product-item product-item_full">
                        <div class="product-item__img">
                            <a href=""><img src="images/test.jpg" /></a>
                        </div>
                        <div class="product-item__middle">
                            <h4 class="product-item__title"><a href="">Душевая кабина Borneo 822.960.141 90х90</a></h4>
                            <div class="product-item__description">
                                <p>Тип—угловая</p>
                                <p>Ограждение—полностенное</p>
                                <p>Форма—четверть круга</p>
                                <p>Материал поддона—акрил</p>
                            </div>
                        </div>
                        <div class="product-item__buy">
                            <span class="price price__big">20000 <span class="price__sign">Р</span><span class="price__dot">уб.</span></span>
                            <button class="button button_buy">Купить</button>
                        </div>
                    </div>
                    <!-- products -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="g-footer">
    <div class="footer">
        <div class="footer__top">
            <div class="footer__top__catalog">
                <h5 class="footer-icon">КАТАЛОГ</h5>
                <ul>
                    <li><a href="">Водонагреватели</a></li>
                    <li><a href="">Смесители</a></li>
                    <li><a href="">Душевые кабины</a></li>
                    <li><a href="">Мебель для ванн</a></li>
                    <li><a href="">Ванны</a></li>
                    <li><a href="">Аксессуары</a></li>
                    <li><a href="">Фитинги</a></li>
                    <li><a href="">Запачасти</a></li>
                </ul>
            </div>
            <div class="footer__top__links">
                <h5 class="footer-icon footer-icon_delivery"><a href="">ДОСТАВКА</a></h5>
                <h5 class="footer-icon footer-icon_how-buy"><a href="">КАК КУПИТЬ</a></h5>
                <h5 class="footer-icon footer-icon_actions"><a href="">ВСЕ АКЦИИ</a></h5>
                <h5 class="footer-icon footer-icon_all-news"><a href="">ВСЕ НОВОСТИ</a></h5>
            </div>
            <div class="footer__top__contacts">
                <p>
                    Наш адрес Магазин-склад<br>
                    Россия, г. Томск, Иркутский проезд, 1
                </p>
                <p>
                    Есть вопросы? Звоните<br>
                    <span class="footer__top__contacts__phone">(3822)65-65-82</span>
                </p>
                <p>
                    <span class="footer__top__contacts__email">ooosefi@mail.ru</span>
                </p>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom__left">
                &copy; 2012 Top raise All rights reserved
            </div>
            <div class="footer__bottom__right">
                Разработано в <a href="">AltaLab</a> Branding & I. C. laboratory
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>