@import "base";
@import "compass/utilities/general";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/typography/links/link-colors";
@import "compass/css3/inline-block";

/* top menu */
.header-menu{
    li{
        @include inline-block;
        margin: 0 40px 0 0;
        font-size: 11pt;
        a{
            @include link-colors(#000, $aHoverColor, $aActiveColor, #000, $aFocusColor);
        }
    }
}

/* cart bar */
.cartbar{
    margin: 12px 0 0;
    //@include clearfix;
    //@include debug;
}
    .cartbar__content{
        line-height: 1.1;
        margin: 0 0 0 40px;
        @include inline-block;
        //@include float-left;

        font-size: 10pt;
        font-style: italic;
        color: #3d3d3d;

        text-align: center;
        p{
            margin: 0px 0;
        }
        a{
            @include link-colors(#3d3d3d, $aHoverColor, $aActiveColor, #3d3d3d, $aFocusColor);
        }
    }
    .cartbar__icon{
        margin: 0 0 0 16px;
        display: block;
        @include inline-block;
        //@include float-right;
    }

/* home info blocks */
.info-blocks{
    .b-info-block{
        @include float-left;
    }
    .a-first{
        background-position: 0 0;
        &:hover{
            background-position: -143px 0;
        }        
    }
    .a-second{
        background-position: 0 -131px;    
        &:hover{
            background-position: -143px -131px;
        }        
    }
    .a-third{
        background-position: 0 -262px;
        &:hover{
            background-position: -143px -262px;
        }        
    }    
    .info-blocks__delimeter{
        @include float-left;
        width:32px;
        height:130px;
        background: 0 55px no-repeat url(../../images/home-blocks-delimeter.png);
    }
}
    .b-info-block{
        display: block;
        position: relative;
        width: 142px;
        height: 130px;
        background: 0 0 no-repeat url(../../images/home-blocks.jpg);
        &:hover{
            background-position: -143px 0;
        }
        i{
            position: absolute;
            top:94px;
            text-align:center;
            width: 100%;
            color: #fff;
        }
    }

/* home search */
.home__search{
    margin: 21px 0 0;
}

/* search form */
.search_form{
    input{
        font-size:10pt;
        border: 1px solid #0778ab;
        @include border-left-radius(6px);
        @include box-shadow(#a4a4a4 0px 1px 1px);
        //height:18px;
        padding: 2px 0 2px 3px;
        outline: none;
    }
    button{
        background-color: #379bd9;
        border: 1px solid #0778ab;
        color:#fff;
        @include border-right-radius(6px);
        @include box-shadow(#a4a4a4 0px 1px 1px);
        margin: 0 0 0 3px;
        padding: 2px 3px;
        font-size:10pt;
    }
}

/* home seo text */
.home__seotext{
    margin: 18px 0 0;
}

@import "slider";

/* home popular */
.home__popular{
    margin: 12px 0 0;
}
    .home__popular__content{
        margin: 10px 0 0;
        padding: 0 11px;
        @include clearfix;
        .product-item{
            margin-right: 10px;
            &:last-child{
                margin-right:0px;
            }
        }
    }

/* new products */
.home__new{
    margin: 12px 0 0;
}
    .home__new__content{
        margin: 10px 0 0;
        padding: 0 11px;
        @include clearfix;        
        /*.b-images__scrollable{
            height:240px * 1 + 4px * 1;
        }*/
        .product-item{
            margin-right: 10px;
            &:last-child{
                margin-right:0px;
            }
        }
        .eg_previous_link, .eg_next_link{
            top:40%;
        }
    }

/* product item */
.product-item{
    position: relative;
    line-height: 1;
    @include float-left;
    width:164px;
    text-align:center;
    border: 1px solid transparent;
    padding: 8px 12px 15px 12px;
    &:hover{
        border: 1px solid #b2b0b0;
        @include border-radius(10px);
    }
    //@include debug(red);
}
    .product-item__img{
        img{
            width:130px;
            height:230px;
        }
    }
    .product-item__middle{
        height: 140px;
        overflow:hidden;
    }
        .product-item__title{
            font-size:10pt;
            margin: 7px 0 0;
            line-height: 1.15;
        }
        .product-item__description{
            margin: 10px 0 0;
            line-height: 1.15;
            p{
                margin: 0px 0;
            }
        }
    .product-item__buy{
        margin: 19px 0 0;
    }
    .product-item__compare{
        position: absolute;
        top: 11px;
        right: 16px;
        display: none;
    }
        .product-item__compare__icon{
            background: 0 0 no-repeat url(../../images/compare-icons.png);
            height: 47px;
            width: 29px;
            cursor: pointer;
            &:hover{
                background-position: -29px 0;
            }
        }
        .product-item__compare__icon_active{
            background-position: -58px 0;
            &:hover{
                background-position: -87px 0;
            }
        }
.product-item_short{
    //@include debug;
    width:178px;
    padding: 8px 5px 15px 5px;
    .product-item__img{
        img{
            width:175px;
            height:180px;
        }
    }
}

/* footer icons */
.footer-icon{
    height: 21px;
    line-height: 21px;
    padding: 0 0 0 31px;
    margin: 0 0 10px 0;
    color: #5fbde7;
    background: 0 -86px no-repeat url(../../images/footer-icons.png);
}
.footer-icon_delivery{
    background-position: 0 -65px;
}
.footer-icon_how-buy{
    background-position: 0 -44px;
}
.footer-icon_actions{
    background-position: 0 0;
}
.footer-icon_all-news{
    background-position: 0 -23px;
}

/* content */
.content{

}
    .content__header{
        font-size: 36pt;
        color: #4bb2e1;
        margin-bottom: 18px;
        line-height: 1.1;
        padding: 4px 0;
    }
    .content__header_product{
        font-size: 24pt;
        color: #000;
        margin-bottom: 0;
    }


/* icon item */
.icon-item{
    height: 31px;
    line-height: 31px;
    padding: 0 0 0 36px;
    margin: 0 0 5px 0;
    color: #5fbde7;
    background: 0 0 no-repeat url(../../images/icon-items.png);
}
.icon-item_best{
    background-position: 0 0;
}
.icon-item_new{
    background-position: 0 -31px;
}

/* catalog left menu */
.box{
    margin: 20px 0 0 0;
    .box-heading{
        font-size: 12pt;
        color: #0778ab;
    }
    .box-category{
        margin: 0 0 0 24px;
        ul > li ul {
            display: none;
        }
        ul > li a.active + ul {
            display: block;
        }
        ul > li > ul{
            margin: 0 0 15px 14px;
        }
        li{
            margin: 8px 0 0 0;
        }
        a{
            @include link-colors(#000, $aHoverColor, $aActiveColor, #000, $aFocusColor);
            font-size: 10pt;
            &.active{
                color: #4bb2e1;
                text-decoration: none;
                font-weight: bold;
            }
            &.subactive{
                color: #800080;
                font-weight: normal;
                text-decoration: underline;
            }
        }
    }
}

/* category item */
.category-item{
    //@include debug;

    @include float-left;
    text-align:center;

    width: 190px;

    .product-item{
        float: none;
        display: block;
        margin: 0 !important;
        margin-top: 12px !important;
    }
}
    .category-item__title{
        //display: block;
        //width: 180px;
        background: #0678ac;
        @include border-radius(10px);
        padding: 8px 18px;
        text-align: center;
        margin: 0 auto;

        a{
            @include link-colors(#fff, #89d9fe, #89d9fe, #fff, $aFocusColor);
        }
    }
    .category-item__img{
        width: 15px;
        height: 25px;
        background: url(../../images/category-item-img.png);
        margin: 0 auto;
        margin-top: 3px;
    }

.subheader{
    font-size: 18pt;
    color:#000;
    margin: 35px 0 15px 0;
}

.subsubheader{
    font-size: 14pt;
    color:#000;
    margin: 50px 0 15px 0;
}

/* product page */
.content_product{

}
    .content_product__sku{
        font-size: 10pt;
    }

    .product-content{
        margin: 18px 0 0;
        .product-tabs{
            text-align: right;
            a{
                text-align: left;
                @include inline-block;
                font-size: 10pt;
                @include link-colors(#000, $aHoverColor, $aActiveColor, #000, #000);
                text-decoration: none;
                padding: 6px;
                &.selected{
                    background-color: #4bb2e1;
                    border: none;
                    span{
                        border: none;
                    }
                    @include link-colors(#000, #89d9fe, #000, #000, #000);
                }
                span{
                    border-bottom: 1px dashed #000;
                }
            }
        }
        .product-tabs_content{

        }

        .compare-products{
            @include float-left;
            //@include debug;
            margin: 3px 0 0 0;
            a{
                font-style: italic;
                @include link-colors(#000, $aHoverColor, $aActiveColor, #000, $aFocusColor);
                font-size: 10pt;
                margin: 0 15px 0 0;
            }
            .no-active, a.no-active{
                color:#9c9c9c;
                text-decoration: none;
                cursor: default;

                font-style: italic;
                margin: 0 15px 0 0;
                font-size: 10pt;
            }
        }
    }
        .product-content__center{
            @include clearfix;
            margin: 50px 0 0 0;
        }
            .product-content__center__left{
                @include float-left;
                width: 210px;
                text-align: center;

                //@include debug;
            }
            .product-content__center__right{
                @include float-right;
                width: 420px;
                //@include debug;
            }
        .product-content__img{
            display: block;
            position: relative;
            img{
                width: 120px;
                height: 230px;
            }
            .product-content__img__zoom{
                background: 0 0 no-repeat url(../../images/zoom-icon.png);
                width:38px;
                height: 38px;

                position: absolute;
                bottom:15px;
                right: 40px;
            }
            &:hover{
                .product-content__img__zoom{
                    background: -38px 0 no-repeat url(../../images/zoom-icon.png);
                    width:43px;
                    height: 43px;
                    right: 35px;
                    bottom: 10px;
                }
            }
        }

.specs__table{

    tr{

    }
    td{
        text-align: left;
        padding: 10px 35px 10px 0;
        &:last-child{
            padding-right: 0;
        }
    }
}

/* short product list */
.short-product-list{

}
    .short-product-list__item{
        width: 180px;
        padding: 3px 5px;
        @include inline-block;
        @include clearfix;
        margin: 0 35px 10px 0;
    }
        .short-product-list__item__img{
            @include float-left;
            margin: 0 20px 0 0;
            img{
                width: 59px;
                height: 100px;
            }
        }
        .short-product-list__title{
            margin: 5px 0 0 0;
            a{
                @include link-colors(#000, $aHoverColor, $aActiveColor, #000, $aFocusColor);
            }
        }
        .short-product-list__price{
            margin: 14px 0 0 0;
            .price{
                background: #4bb2e1;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

/* checkout steps */
.checkout-steps{

}
    .checkout-steps__title{
        @include float-left;
        height: 32px;
        line-height: 32px;
        font-weight: bold;
    }
    .checkout-steps__items{


    }
        .checkout-steps__item{
            //@include debug;

            text-align: center;

            @include float-left;

            width: 132px;

            position: relative;

            &:last-child{
                .checkout-steps__arrow{
                    display: none;
                }
            }

        }
            .checkout-steps__item__title{
                margin-top: 5px;
            }
        .checkout-steps__point{
            width: 32px;
            height: 32px;
            background: 0 0 no-repeat url(../../images/checkout-steps.png);
            text-align: center;
            line-height: 32px;
            font-size: 18pt;
            color: #fff;

            margin: 0 auto;
        }
        .checkout-steps__item_active{
            .checkout-steps__point{
                background: -32px 0 no-repeat url(../../images/checkout-steps.png);
            }
        }

            .checkout-steps__arrow{
                width: 89px;
                height: 14px;
                background: -64px 0 no-repeat url(../../images/checkout-steps.png);

                position: absolute;
                top:9px;
                left:88px;
            }

/* checkout amount */
.checkout-amount{
    @include float-right;

}

/* checkout price */
.checkout-price{
    .price{
        font-size: 18pt;
    }
}
    .checkout-price__title{
        @include inline-block;
        height: 18pt;
        line-height: 18pt;
        margin: 0 10px 0 0;
    }
    .checkout-price__value{
        @include inline-block;
    }


/* cart table */
.cart-table{
    width: 100%;
    margin: 30px 0 0 0;
    tr{
        &.excluded{
            color: #7F7F7F !important;
            a{
                @include link-colors(#7F7F7F, #7F7F7F, #7F7F7F, #7F7F7F, #7F7F7F);
            }
            img{
                opacity: 0.5;
            }
        }
    }
    th, td{
        //@include debug;
        text-align: center;
        border-bottom: 1px dashed #000;
    }
    th{
        padding: 12px 0;
    }
    td{
        padding: 20px 0;
        .product-item-left{
            margin: 0 auto;
        }
    }

}
    .cart-table__count-field{
        width: 30px;
        text-align: right;
    }
    .cart-table__checkbox{
        width: 34px;
        height: 38px;
        background: 0 0 no-repeat url(../../images/cart-sprite.png);
        margin: 0 auto;
        cursor: pointer;
    }
    .cart-table__checkbox_active{
        background: -34px 0 no-repeat url(../../images/cart-sprite.png);
    }

    .cart-table__delete{
        width: 20px;
        height: 20px;
        background: -68px 0 no-repeat url(../../images/cart-sprite.png);
        margin: 0 auto;
        margin-top: 15px;
        display: block;
        &:hover{
            background-position: -88px 0;
        }
    }

/* product item left */
.product-item-left{
    //@include debug;
    @include clearfix;
    width: 270px;
}
    .product-item-left__img{
        @include float-left;
        img{
            width: 59px;
            height: 100px;
        }
        margin: 0 20px 0 0;
    }
    .product-item-left__content{
        text-align: left;

    }
        .product-item-left__content__title{

        }
        .product-item-left__content__description{
            margin: 8px 0 0 0;
            font-size: 9pt;
        }

/* checkout button */
.content_checkout__button{
    width: 133px;
    height: 38px;
    line-height: 38px;
    font-size: 13pt;
    background: 0 0 no-repeat url(../../images/checkout-button.png);
    @include link-colors(#000, #000, #000, #000, #000);
    &:hover{
        background-position: -133px 0;
    }
    &:active{
        background-position: -266px 0;
    }
}
.content_checkout__button_disabled{
    background-position: -399px 0;
    &:hover{
        background-position: -399px 0;
    }
    &:active{
        background-position: -399px 0;
    }
}
.content_checkout__button_next{
    @include float-right;
    margin-left: 23px;
}

/* shipping methods */
.shipping-methods{
    padding-left: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #000;
    .subsubheader{
        margin-top: 20px;
    }
    table{
        tr{

        }
        td{
            padding: 6px 0;
        }
        b{
            font-weight: bold;
        }
        label{
            margin-left: 6px;
        }
    }
    .price{
        font-size: 11pt;
    }
}

/* checkout product list */
.checkout-products-list{
    margin: 25px 0 0 0;
    border: 1px dashed #000;
    border-width: 1px 0;
    padding: 10px 0 10px 10px;
    //@include debug;
    .product-item-left{
        @include inline-block;
        margin-top: 10px;
        width: 240px;
        //@include debug;
    }
    .price{
        font-size: 11pt;
    }
}

/* checkout address */
.checkout-address{
    border-bottom: 1px dashed #000;
    padding-bottom: 15px;
    .subsubheader{
        margin-top: 20px;
    }
    table{
        tr{

        }
        td{
            vertical-align: top;
            padding: 6px 0;
            color: #0778ab;
        }
        input, textarea{
            border: 1px solid #0778ab;
            padding: 5px 5px;
            margin-top: -2px;
            width:200px;
        }
        textarea{
            width: 300px;
        }
    }
}

/* checkout info */
.checkout-info{
    margin: 10px 0 0 0;
    border-bottom: 1px dashed #000;
    padding: 0 0 15px 0;
    table{
        tr{

        }
        td{
            vertical-align: middle;
            padding: 6px 40px 6px 0;
        }
    }
}
    .checkout-info__big{
        font-size: 18pt;
        td{
            padding-top: 10px !important;
        }
    }

/* news */
.news-list-item{
    margin: 0 0 45px 0;
}
    .news-list-item__header{
        font-size: 12pt;
        font-weight: bold;
        a{
            text-decoration: none;
            @include link-colors(#000, #000, #000, #000, #000);
        }
    }
    .news-list-item__date{
        font-size: 14pt;
        color: #4bb2e1;
        margin: 12px 0 0 0;
    }
    .news-list-item__content{
        margin: 20px 0 0 0;
    }
        .news-list-item__content__image{
            @include float-left;
            margin: 0 20px 20px 0;
        }
        .news-list-item__content__more{
            margin: 15px 0 0 0;
            text-align: right;
            font-size: 14pt;
            a{
                @include link-colors(#4bb2e1, $aHoverColor, $aActiveColor, $aVisitedColor, $aFocusColor);
            }
        }

.news_header{
    color: #000;
    line-height: 1;
}

.news-item{

}
    .news-item__date{
        color: #4bb2e1;
        font-size: 14pt;
    }
    .news-item__content{
        margin: 20px 0 0 0;
    }
        .news-item__content__image{
            @include float-left;
            margin: 0 20px 20px 0;
        }
    .news-item__back{
        margin: 40px 0 0 0;
        font-size: 10pt;
        background: left center no-repeat url(../../images/news-back.png);
        height: 19px;
        line-height: 19px;
        display: block;
        padding: 0 0 0 25px;
        cursor: pointer;
        text-decoration: underline;
        @include link-colors(#000, $aHoverColor, $aActiveColor, $aVisitedColor, $aFocusColor);
    }

/* contacts */
.contacts-info{
    @include clearfix;
}
    .contacts-info__address{
        @include float-left;
        margin-right: 38px;
        table{
            height: 55px;
            td{
                vertical-align: middle;
                text-align: left;
                &.left{
                    padding-right: 11px;
                    border-right: 1px solid #0778ab;
                }
                &.right{
                    padding-left: 11px;
                    width: 170px;
                }
            }
        }
    }
    .contacts-info__times{
        @include float-left;
        background: left center no-repeat url(../../images/times.png);
        padding: 0 0 0 45px;
    }

.contacts-map{
    margin: 30px 0 0 0;
    text-align: center;
}
    .contacts-map__container{
        margin: 0 auto;
        padding: 15px 13px;
        width: 624px;
        height: 364px;
        background: 0 0 no-repeat url(../../images/map-bg.png);
    }
        .contacts-map__content{
            width: 598px;
            height: 326px;
            overflow: hidden;
            img{

            }
        }

/* opt form */
.opt-form{
    margin-top: 30px;
    table{
        tr{

        }
        td{
            vertical-align: top;
            padding: 6px 10px 6px 0;
            &.left{
                text-align: right;
            }
        }
        input, textarea{
            border: 1px solid #0778ab;
            padding: 5px 5px;
            margin-top: -3px;
            width:200px;
        }
        textarea{
            width: 300px;
        }
    }
    .label{
        margin: 0 0 10px 0;
    }
    .captcha{
        input{
            width: 100px;
            margin-top: 6px;
            float: left;
        }
        img{
            margin-left: 20px;
            float: left;
        }
    }

}

/* buy-shipping */
.buy-shipping{

}
    .buy-shipping__tabs__headers{
        border-bottom: 1px solid #b4b4b4;
        padding-left: 8px;
        a{
            @include inline-block;
            text-align: center;
            height: 35px;
            width:105px;
            margin: 0 4px 0 0;
            line-height: 35px;
            background: 0 -35px no-repeat url(../../images/buy-shipping-tabs.png);
            color: #000;
            text-decoration: none;
            &:hover{
                background-position: -105px -35px;
            }
            &:active{
                background-position: -210px -35px;
            }
            &.selected{
                background-position: 0 0;
                &:hover{
                    background-position: -105px 0;
                }
                &:active{
                    background-position: -210px 0;
                }
            }
            span{
                border-bottom: 1px dashed #000;
            }
        }
    }
    .buy-shipping__tabs__contents{
        padding: 15px 0 0 0;
    }

.buy-tabs__contents{
    @include clearfix;
    margin-bottom: 25px;
    img{
        float: left;
        margin-right: 20px;
    }
    .buy-tabs__contents__txt{
        padding-top: 38px;
        font-weight: bold;
    }
}

/* remont list */
.remont-list{
    text-align: left;
}
    .remont-list__title{
        font-size: 12pt;
        font-weight: bold;
        margin: 0 0 20px 0;
    }
    .remont-list__item{
        @include inline-block;
        text-align: left;
        width: 310px;
        //@include debug;
        margin: 0 40px 40px 0;
    }
        .remont-list__item__img{
            display: block;;
            position: relative;
            img{
                width: 310px;
                height: 201px;
            }
        }
            .remont-list__item__img__play{
                display: block;
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background: center center no-repeat url(../../images/play.png);
            }
        .remont-list__item__date{
            color: #4bb2e1;
            margin: 4px 0 0 0;
            font-size: 12pt;
        }
        .remont-list__item__title{
            margin: 2px 0 0 0;
            font-size: 10pt;
            font-weight: bold;
        }

.remont-top{
    @include clearfix;
    margin: 0 0 30px 0;
    b{
        font-weight: bold;
    }
}
    .remont-top__left{
        @include float-left;
        width: 300px;
        margin: 0 40px 0 0;
    }
    .remont-top__right{
        @include float-right;
        width: 370px;
    }
        .remont-top__right__form{

        }

/* mount request */
.mount-form{
    input, textarea{
        border: 1px solid #0778ab;
        padding: 5px 5px;
        width: 350px;
    }
    textarea{
        height: 37px;
    }
    img{

    }
    button{
        margin-top: 15px
    }
}
    .mount-form__label{
        margin: 15px 0 5px 0;
    }
    .mount-form__captcha{
        @include clearfix;
        input{
            @include float-left;
            margin-top: 6px;
        }
        img{
            @include float-left;
            margin-left: 20px;
        }
    }

/* remont images carousel */
.remont-images{
    //@include debug;
    @include clearfix;
    position: relative;
    padding:0px 55px 0px 55px;
    margin: 0 0 25px 0;
    //width: 480px;
    ul{
        display: block;
    }
    li{
        @include float-left;
        margin: 0 6px 0 0;
    }
}

.arrow-prev, .arrow-next{
    position:absolute;
    top:50%;
    display:block;
    width:30px;
    background: url(../../images/arrows-small.png);
    margin-top:-50px;
    @include hide-text(100px);
}
.arrow-prev{
    left:5px;
    background-position: 0px 0;
    &:hover{
        background-position:-30px 0;
    }
    &:active{
        background-position: -60px 0;
    }
    &.disabled{
        background-position: -90px 0;
        cursor: default;
    }
}
.arrow-next{
    right:5px;
    background-position:-120px 0;
    &:hover{
        background-position:-150px 0;
    }
    &:active{
        background-position:-180px 0;
    }
    &.disabled{
        background-position: -210px 0;
        cursor: default;
    }
}

.remont-video{
    margin: 0 0 25px 0;
}

/* pagination */
.pagination{
    text-align: center;
    .links{
        font-size: 14pt;
        color: #b9b9b9;
        b{
            color: #4bb2e1;
        }
        a{
            @include link-colors(#b9b9b9, $aHoverColor, $aActiveColor, #b9b9b9, $aFocusColor);
            text-decoration: none;
        }
    }
}
.pagination_top{
    text-align: right;
    margin: 0 35px 30px 0;
}

/* catalog order */
.catalog-order{
    margin: 0 0 0 35px;
    font-style: italic;
    font-size: 10pt;
    color: #000;
    b{
        margin: 0 10px 0 0;
    }

}
    .catalog-order__item{
        @include link-colors(#000, $aHoverColor, $aActiveColor, #000, $aFocusColor);
        margin: 0 30px 0 0;
    }
    .catalog-order__item_active{
        text-decoration: none;
        @include link-colors($aHoverColor, $aHoverColor, $aHoverColor, $aHoverColor, $aHoverColor);
        cursor: default;
    }

/* catalog filter */
.catalog-filter{
    margin: 0 0 12px 0;
}
    .catalog-filter__header{
        border-bottom: 1px solid #b4b4b4;
    }
        .catalog-filter__header__tab{
            margin: 0 0 0 35px;
            background: 0 0 no-repeat url(../../images/filter-headers.png);
            height: 35px;
            width: 213px;
            line-height: 35px;
            text-align: center;
            font-size: 12pt;
        }
    .catalog-filter__header_bottom{
        .catalog-filter__header__tab{
            background-position: -213px 0;
            width: 102px;
        }
    }
    .catalog-filter__header_bottom-down{
        border-bottom:none;
        .catalog-filter__header__tab{
            background-position: -315px 0;
            width: 42px;
            height: 26px;
            line-height: 26px;
        }
    }
    .catalog-filter__content{
        padding: 5px 0 6px 54px;
        font-style: italic;
        font-size: 10pt;
        color: #000;
    }
        .catalog-filter__content__item{
            line-height: 1.5;
            margin: 10px 0;
            b{
                margin: 0 10px 0 0;
            }
            span{
                margin: 0 10px 0 0;
                padding: 0 3px;
            }
            .selected{
                background-color: #4bb2e1;
            }
        }

    .catalog-filter__result{
        a{
            margin-left: 13px;
        }
    }

.filter-element{
    display: none;
}

.filter-item{

}

/* price slider */
.catalog-filter__price{
    margin: 25px 0 12px 0;
    .catalog-filter__price__header{
        font-weight: bold;
        font-style: normal;
        margin-left:5px;
    }
    .catalog-filter__inputs{
        margin: 16px 0 0 5px;
        input{
            width: 60px;
            margin: 0 15px;
        }
    }
    .catalog-filter__slider{
        margin: 16px 0 0 0;
        height: 30px;
        .ui-slider{
            background: 0 -22px no-repeat url(../../images/slider.png);
            border: none;
            height: 5px;
            width: 257px;
        }
        .ui-slider-range {
            top:1px !important;
            height: 3px !important;
            background: #4bb2e1;
        }
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
            background: 0 0 no-repeat url(../../images/slider.png);
            border: none;
            width: 16px;
            height: 22px;
            top: 5px;
        }
    }

}

/* catalog compare */
.catalog-compare{
    margin: 12px 0 0 35px;
    height: 24px;
    line-height: 24px;
    button{
        margin-left: 15px;
    }
}
.compare-view{
    display: none;
}

/* compare page */
.compared{
    position: relative;
    .product-item-left{
        @include clearfix;
        width: 190px;
        position: relative;
        img{
            //@include debug;
        }
    }
        .product-item-left__remove{
            background: 0 -36px no-repeat url(../../images/compare-buttons.png);
            width: 20px;
            height: 20px;
            position: absolute;
            left:50px;
            top:0px;
            &:hover{
                background-position: -20px -36px;
            }
        }
}
    .compared-table{
        th, td{
            width: 190px;
            padding: 10px 17px;
            //border:1px solid #000;
        }
        th{
            border-bottom: 1px solid #b4b4b4;
            padding: 0 17px 20px 17px;
        }
        td{

        }
        .attr-name{
            width: 282px;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
        }
    }

    .compared__col{
        position: absolute;
        left:0;
        top:0;
        width:282px + 17px + 17px;
        z-index: 2;
        overflow: hidden;
        background: #fff;
    }
    .compared__data{
        position: relative;
        z-index:1;
        overflow: hidden;
        table{
            position: relative;
            //left:-200px;
        }
    }
    .compared__button-left, .compared__button-right{
        background: 0 0 no-repeat url(../../images/compare-buttons.png);
        width: 35px;
        height: 36px;
        position: absolute;
        top:30px;
        z-index: 3;
    }
    .compared__button-left{
        //display: none;
        left:270px;
        &:hover{
            background-position: -35px 0;
        }
        &:active{
            background-position: -70px 0;
        }
    }
    .compared__button-right{
        background-position: -105px 0;
        right:0;
        &:hover{
            background-position: -140px 0;
        }
        &:active{
            background-position: -175px 0;
        }
    }
.content_compare{
    .buttons{
        margin: 20px 0 0 20px;
    }
}

