@import "base";
@import "compass/utilities/general";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/typography/links/link-colors";
@import "compass/css3/inline-block";

.catalog-container{
    @include clearfix;
    .product-item, .category-item{
        margin: 0 0 18px 35px;
    }
}

/* speacial page */
.special-page{
    padding-top: 220px;
    background: center 10px no-repeat url(../../images/special-banner-top.jpg);
    .content__header{
        padding-left: 14px;
    }
}
    .special-page__product{
        @include float-left;
        margin-right: 40px;
    }
    .special-page__other-header{
        font-size: 13pt;
        margin: 30px 0;
    }

/* affiliates page */
.affiliates-page{

}
    .affiliates-page__list{
        margin: 20px 0;
    }
        .affiliates-page__list__item{
            position: relative;

            margin: 0 0 10px 0;

            width: 657px;

        }
            .affiliates-page__list__item__wrapper{
                padding: 16px 26px;

                /*width: 605px;*/
            }
            .affiliates-page__list__item__sel{
                width: 30px;
                height: 29px;
                background: 0 0 no-repeat url(../../images/aff-sel.png);

                position: absolute;
                left:-11px;
                top:50%;

                margin-top: -15px;

                display: none;
            }
        .affiliates-page__list__item:hover, .affiliates-page__list__item.selected{
            background: 0 0 no-repeat url(../../images/af-bg-top.png);
        }
            .affiliates-page__list__item:hover .affiliates-page__list__item__wrapper, .affiliates-page__list__item.selected .affiliates-page__list__item__wrapper{
                background: 0 bottom no-repeat url(../../images/af-bg-bottom.png);
            }
            .affiliates-page__list__item:hover .affiliates-page__list__item__sel, .affiliates-page__list__item.selected .affiliates-page__list__item__sel{
                display: block;
            }


.affiliate-item-table{
    p{
        margin: 5px 0;
    }
}
    .affiliate-item-table__title-td{
        color: #0871a1;
        font-size: 14pt;
        width: 135px;
        padding-right: 15px;
        .pseudo-a{
            border-bottom: 1px dashed #0871a1;
        }
    }
    .affiliate-item-table__address-td{
        width: 250px;
        padding-right: 20px;
        vertical-align: top;
    }
    .affiliate-item-table__times-td{
        vertical-align: top;
    }

.affiliates-page__map{
    width: 667px;
    height: 382px;
    margin: 30px 0 10px 0;

    border: 1px solid #c4c3bc;

    position:relative;
    img{
        position: absolute;
        top: 50%;
        left:50%;

        margin: -10px 0 0 -80px;
    }
}